Repository brianfields/deeplearn: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript

.pre-commit-config.yaml:

repos:
  # Backend Python linting
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.0
    hooks:
      - id: mypy
        args: [--config-file=backend/pyproject.toml]
        additional_dependencies: [pydantic, sqlalchemy, fastapi]
        files: ^backend/src/
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/(src|tests)/
      - id: ruff-format
        files: ^backend/(src|tests)/

  # Frontend TypeScript/React Native linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd mobile && npm run lint'
        language: system
        files: ^mobile/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd mobile && npm run format:check'
        language: system
        files: ^mobile/.*\.(ts|tsx|js|jsx|json|md)$
        pass_filenames: false
      - id: typescript
        name: TypeScript Check (Frontend)
        entry: bash -c 'cd mobile && npm run typecheck'
        language: system
        files: ^mobile/.*\.(ts|tsx)$
        pass_filenames: false

Improve conversation_engine interface
  backend/alembic/versions/c0c59980549d_topic_field_length_unrestrict.py
  backend/modules/admin/test_admin_unit.py
  backend/modules/content_creator/service.py
  backend/modules/conversation_engine/Agents.md
  backend/modules/conversation_engine/base_conversation.py
  backend/modules/conversation_engine/public.py
  backend/modules/conversation_engine/service.py
  backend/modules/flow_engine/public.py
  backend/modules/learning_coach/conversation.py
  backend/modules/learning_coach/dtos.py
  backend/modules/learning_coach/routes.py
  backend/modules/learning_coach/service.py
  backend/modules/learning_coach/test_learning_coach_unit.py
  backend/modules/prompts/conversations/learning_coach/system_prompt.md
  mobile/modules/learning_coach/models.ts
  mobile/modules/learning_coach/repo.ts
  mobile/modules/learning_coach/screens/LearningCoachScreen.tsx
Due: eslint, prettier, typescript

Simplify structured response
  backend/modules/conversation_engine/base_conversation.py
  backend/modules/conversation_engine/public.py
  backend/modules/learning_coach/conversation.py
Due: none

some doc
  backend/modules/conversation_engine/public.py
Due: none

Simplify the initial message of the conversation
  backend/modules/learning_coach/conversation.py
  backend/modules/learning_coach/test_learning_coach_unit.py
Due: none

Move where prompts are located
  backend/modules/conversation_engine/base_conversation.py
  backend/modules/flow_engine/base_step.py
  backend/modules/learning_coach/conversation.py
  backend/modules/learning_coach/prompts/system_prompt.md
Due: none

Learning coach gens LOs
  backend/modules/learning_coach/conversation.py
  backend/modules/learning_coach/dtos.py
  backend/modules/learning_coach/prompts/system_prompt.md
  backend/modules/learning_coach/routes.py
  backend/modules/learning_coach/service.py
  mobile/modules/learning_coach/models.ts
  mobile/modules/learning_coach/repo.ts
  mobile/modules/learning_coach/screens/LearningCoachScreen.tsx
Due: eslint, prettier, typescript

Title for units created with coach
  backend/modules/content_creator/routes.py
  backend/modules/content_creator/service.py
  backend/modules/learning_coach/conversation.py
  backend/modules/learning_coach/dtos.py
  backend/modules/learning_coach/prompts/system_prompt.md
  backend/modules/learning_coach/routes.py
  backend/modules/learning_coach/service.py
  mobile/modules/content_creator/models.ts
  mobile/modules/learning_coach/models.ts
  mobile/modules/learning_coach/repo.ts
  mobile/modules/learning_coach/screens/LearningCoachScreen.tsx
Due: eslint, prettier, typescript

Dynamic quick-response options
  backend/modules/learning_coach/conversation.py
  backend/modules/learning_coach/prompts/system_prompt.md
  mobile/modules/learning_coach/components/QuickReplies.tsx
  mobile/modules/learning_coach/screens/LearningCoachScreen.tsx
Due: eslint, prettier, typescript

Add content unit sync endpoint and backend spec
  backend/modules/content/public.py
  backend/modules/content/repo.py
  backend/modules/content/routes.py
  backend/modules/content/service.py
  backend/modules/content/test_content_unit.py
  docs/specs/offline-unit-cache/spec.md
Due: none

Support minimal unit sync payload
  backend/modules/content/public.py
  backend/modules/content/routes.py
  backend/modules/content/service.py
  backend/modules/content/test_content_unit.py
  docs/specs/offline-unit-cache/spec.md
Due: none

feat(mobile): add ui slider for podcast seeking
  mobile/modules/podcast_player/components/PodcastPlayer.tsx
  mobile/modules/ui_system/components/Slider.tsx
  mobile/modules/ui_system/models.ts
  mobile/modules/ui_system/public.ts
  mobile/package-lock.json
  mobile/package.json
Due: eslint, prettier, typescript

spec.md file
  docs/specs/add-claude-support/spec.md
  docs/specs/add-claude-support/user_description.md
Due: none

Implement mobile offline cache infrastructure
  mobile/@types/expo.d.ts
  mobile/__mocks__/expo-file-system.js
  mobile/__mocks__/expo-sqlite.js
  mobile/jest.config.js
  mobile/modules/infrastructure/models.ts
  mobile/modules/infrastructure/public.ts
  mobile/modules/infrastructure/service.ts
  mobile/modules/offline_cache/models.ts
  mobile/modules/offline_cache/public.ts
  mobile/modules/offline_cache/repo.ts
  mobile/modules/offline_cache/service.ts
  mobile/modules/offline_cache/test_offline_cache_service_unit.ts
Due: eslint, prettier, typescript

fix offline_cache to not get rid of asset downloads
  backend/modules/content/public.py
  backend/modules/content/repo.py
  backend/modules/content/routes.py
  backend/modules/content/service.py
  backend/modules/content/test_content_unit.py
  docs/specs/offline-unit-cache/spec.md
  mobile/@types/expo.d.ts
  mobile/__mocks__/expo-sqlite.js
  mobile/modules/infrastructure/public.ts
  mobile/modules/infrastructure/repo.ts
  mobile/modules/infrastructure/service.ts
  mobile/modules/offline_cache/public.ts
  mobile/modules/offline_cache/repo.ts
  mobile/modules/offline_cache/service.ts
  mobile/modules/offline_cache/test_offline_cache_service_unit.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/tsconfig.json
Due: eslint, prettier, typescript

feat(llm): add claude provider support
  backend/modules/llm_services/config.py
  backend/modules/llm_services/providers/claude.py
  backend/modules/llm_services/providers/factory.py
  backend/modules/llm_services/service.py
  backend/modules/llm_services/test_llm_services_unit.py
  backend/modules/llm_services/types.py
  docs/specs/add-claude-support/spec.md
Due: none

Fix lint
  backend/modules/llm_services/providers/claude.py
Due: none

Fix tests
  backend/modules/admin/models.py
  backend/modules/admin/test_admin_unit.py
  backend/modules/conversation_engine/base_conversation.py
  backend/modules/llm_services/config.py
  backend/modules/llm_services/providers/claude.py
  backend/modules/llm_services/service.py
  backend/modules/llm_services/test_llm_services_unit.py
Due: none

Complete offline cache follow-up tasks
  backend/modules/conversation_engine/base_conversation.py
  docs/specs/offline-unit-cache/backend_checklist.md
  docs/specs/offline-unit-cache/frontend_checklist.md
  docs/specs/offline-unit-cache/spec.md
  docs/specs/offline-unit-cache/trace.md
  mobile/App.tsx
  mobile/__mocks__/expo-sqlite.js
  mobile/modules/catalog/screens/UnitListScreen.tsx
  mobile/modules/catalog/test_catalog_unit.ts
  mobile/modules/content/models.ts
  mobile/modules/content/public.ts
  mobile/modules/content/repo.ts
  mobile/modules/content/service.ts
  mobile/modules/content/test_content_service_unit.ts
  mobile/modules/learning_session/service.ts
  mobile/modules/learning_session/test_learning_session_unit.ts
  mobile/modules/offline_cache/models.ts
  mobile/modules/offline_cache/public.ts
  mobile/modules/offline_cache/repo.ts
  mobile/modules/offline_cache/screens/CacheManagementScreen.tsx
  mobile/modules/offline_cache/service.ts
  mobile/modules/offline_cache/test_cache_management_screen_component.tsx
  mobile/modules/offline_cache/test_offline_cache_service_unit.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/types.ts
Due: eslint, prettier, typescript

Complete simplified offline caching cleanup
  docs/specs/simplified-offline-caching.md
  mobile/modules/catalog/components/DownloadPrompt.tsx
  mobile/modules/catalog/components/UnitCard.tsx
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/catalog/screens/UnitListScreen.tsx
  mobile/modules/catalog/test_catalog_unit.ts
  mobile/modules/content/models.ts
  mobile/modules/content/public.ts
  mobile/modules/content/repo.ts
  mobile/modules/content/service.ts
  mobile/modules/content/test_content_service_unit.ts
  mobile/modules/offline_cache/screens/CacheManagementScreen.tsx
  mobile/modules/offline_cache/service.ts
  mobile/modules/offline_cache/test_cache_management_screen_component.tsx
Due: eslint, prettier, typescript

Downloads seem to work, but offline mode doesn't, yet
  backend/modules/content/service.py
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/content/service.ts
  mobile/modules/content/test_content_service_unit.ts
  mobile/modules/learning_session/test_learning_session_unit.ts
  mobile/modules/offline_cache/public.ts
  mobile/modules/offline_cache/service.ts
Due: eslint, prettier, typescript

Offline lessons run
  backend/modules/content/test_content_unit.py
  backend/modules/learning_session/repo.py
  backend/modules/learning_session/routes.py
  backend/modules/learning_session/service.py
  docs/arch/frontend.md
  docs/specs/improve-frontend-repo/user_description.md
  mobile/modules/catalog/components/DownloadPrompt.tsx
  mobile/modules/catalog/components/UnitCard.tsx
  mobile/modules/catalog/screens/UnitListScreen.tsx
  mobile/modules/catalog/service.ts
  mobile/modules/catalog/test_catalog_unit.ts
  mobile/modules/learning_session/queries.ts
  mobile/modules/learning_session/service.ts
  mobile/modules/learning_session/test_learning_session_unit.ts
  mobile/modules/offline_cache/screens/CacheManagementScreen.tsx
  mobile/modules/ui_system/components/Card.tsx
  mobile/modules/ui_system/models.ts
  mobile/modules/user/context.tsx
Due: eslint, prettier, typescript

spec for repo in frontend
  docs/specs/improve-frontend-repo/spec.md
Due: none

Complete Phase 6 validation for repo abstraction
  docs/arch/backend_checklist.md
  docs/arch/frontend.md
  docs/arch/frontend_checklist.md
  docs/specs/improve-frontend-repo/spec.md
  docs/specs/improve-frontend-repo/trace.md
  format_code.sh
  mobile/modules/catalog/repo.ts
  mobile/modules/catalog/service.ts
  mobile/modules/catalog/test_catalog_unit.ts
  mobile/modules/learning_session/repo.ts
  mobile/modules/learning_session/service.ts
  mobile/modules/learning_session/test_learning_session_unit.ts
  mobile/modules/podcast_player/repo.ts
  mobile/modules/podcast_player/service.ts
  mobile/modules/user/identity.ts
  mobile/modules/user/repo.ts
Due: eslint, prettier, typescript

Deal with sessions started offline
  backend/modules/learning_session/routes.py
  backend/modules/learning_session/service.py
  mobile/modules/learning_session/repo.ts
  mobile/modules/learning_session/service.ts
  start.sh
Due: eslint, prettier, typescript

Fix build
  mobile/.gitignore
  mobile/package.json
Due: prettier

AWS Bedrock for Claude model setup
  backend/modules/learning_coach/conversation.py
  backend/modules/learning_coach/prompts/system_prompt.md
  backend/modules/llm_services/config.py
  backend/modules/llm_services/providers/claude.py
  backend/modules/llm_services/service.py
  mobile/ios/DeepLearnMobile.xcodeproj/project.pbxproj
  start.sh
Due: none

Spec
  docs/specs/improve-admin-dashboard/spec.md
  docs/specs/improve-admin-dashboard/user_description.md
  mobile/.gitignore
Due: none

Various fixes
  admin/modules/admin/components/tasks/TaskDetails.tsx
  backend/alembic/versions/3f0b3e9c8b23_add_task_table_and_arq_links.py
  backend/alembic/versions/9cb0b78b0c16_initial_schema.py
  backend/alembic/versions/a9942a28677d_admin_improvements.py
  backend/alembic/versions/bc0c2c39da95_initial_schema.py
  backend/env.example
  backend/modules/content_creator/steps.py
  backend/modules/flow_engine/service.py
  backend/modules/llm_services/config.py
  backend/modules/llm_services/providers/claude.py
  backend/modules/llm_services/service.py
Due: none

Parallelize lesson creation
  backend/modules/content_creator/service.py
Due: none

fixes
  admin/modules/admin/queries.ts
  backend/modules/content_creator/service.py
  backend/modules/flow_engine/base_flow.py
  backend/modules/flow_engine/service.py
Due: none

Fixes to failed creation UI and admin improvements
  admin/app/units/[id]/page.tsx
  admin/modules/admin/components/shared/Navigation.tsx
  admin/modules/admin/models.ts
  admin/modules/admin/service.ts
  backend/modules/content_creator/public.py
  backend/modules/content_creator/routes.py
  backend/modules/content_creator/service.py
  mobile/modules/catalog/components/UnitCard.tsx
  mobile/modules/catalog/components/UnitProgressIndicator.tsx
  mobile/modules/catalog/screens/UnitListScreen.tsx
  mobile/modules/content/models.ts
Due: eslint, prettier, typescript

Fix podcast playing
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
Due: eslint, prettier, typescript

Fix tests; fix title
  backend/alembic/env.py
  backend/modules/content/public.py
  backend/modules/content/repo.py
  backend/modules/content/service.py
  backend/modules/content_creator/service.py
  backend/modules/content_creator/test_flows_unit.py
  backend/modules/flow_engine/repo.py
  backend/modules/llm_services/test_llm_services_unit.py
  backend/modules/task_queue/models.py
  backend/modules/task_queue/repo.py
  backend/modules/task_queue/routes.py
  backend/modules/task_queue/service.py
  backend/server.py
  mobile/__mocks__/slider.js
  mobile/jest.config.js
Due: eslint, prettier

spec
  docs/specs/add-conversations-to-admin/spec.md
  docs/specs/add-conversations-to-admin/user_description.md
Due: none

spec
  docs/specs/lo-evaluation/spec.md
  docs/specs/lo-evaluation/user_description.md
Due: none

feat(admin-backend): add conversation pagination and user summaries
  backend/modules/admin/models.py
  backend/modules/admin/routes.py
  backend/modules/admin/service.py
  backend/modules/admin/test_admin_unit.py
  docs/specs/add-conversations-to-admin/spec.md
Due: none
