Repository brianfields/deeplearn: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript

.pre-commit-config.yaml:

repos:
  # Backend Python linting
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.0
    hooks:
      - id: mypy
        args: [--config-file=backend/pyproject.toml]
        additional_dependencies: [pydantic, sqlalchemy, fastapi]
        files: ^backend/src/
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/(src|tests)/
      - id: ruff-format
        files: ^backend/(src|tests)/

  # Frontend TypeScript/React Native linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd mobile && npm run lint'
        language: system
        files: ^mobile/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd mobile && npm run format:check'
        language: system
        files: ^mobile/.*\.(ts|tsx|js|jsx|json|md)$
        pass_filenames: false
      - id: typescript
        name: TypeScript Check (Frontend)
        entry: bash -c 'cd mobile && npm run typecheck'
        language: system
        files: ^mobile/.*\.(ts|tsx)$
        pass_filenames: false

Use object store for generated unit cover images
  backend/alembic/versions/1f64f2a8bde0_add_unit_cover_image_object_id.py
  backend/modules/content/models.py
  backend/modules/content/service.py
  backend/modules/content/test_content_unit.py
Due: none

Tweak instructions
  codegen/prompts/spec.md
  docs/arch/backend.md
Due: none

unit-art spec
  backend/modules/object_store/public.py
  backend/modules/object_store/s3_provider.py
  backend/modules/object_store/service.py
  backend/modules/object_store/test_object_store_unit.py
  docs/design_language.md
  docs/specs/unit-art/spec.md
  docs/specs/unit-art/user_description.md
Due: none

Add unit artwork surfaces across clients
  admin/app/units/[id]/page.tsx
  admin/modules/admin/models.ts
  admin/modules/admin/service.ts
  backend/alembic/versions/3e2bd904a2f4_add_unit_art_fields.py
  backend/modules/admin/models.py
  backend/modules/admin/service.py
  backend/modules/catalog/service.py
  backend/modules/content/models.py
  backend/modules/content/public.py
  backend/modules/content/repo.py
  backend/modules/content/routes.py
  backend/modules/content/service.py
  backend/modules/content/test_content_unit.py
  backend/modules/content_creator/flows.py
  backend/modules/content_creator/prompts/unit_art_description.md
  backend/modules/content_creator/public.py
  backend/modules/content_creator/service.py
  backend/modules/content_creator/steps.py
  backend/modules/content_creator/test_service_unit.py
  backend/scripts/create_seed_data.py
  docs/specs/unit-art/spec.md
  mobile/__mocks__/react-native.js
  mobile/modules/catalog/components/UnitCard.tsx
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/catalog/test_catalog_unit.ts
  mobile/modules/content/models.ts
  mobile/modules/ui_system/components/ArtworkImage.tsx
  mobile/modules/ui_system/models.ts
  mobile/modules/ui_system/public.ts
  mobile/modules/ui_system/test_ui_system_unit.tsx
  mobile/package-lock.json
  mobile/package.json
  mobile/react-test-renderer.d.ts
  mobile/tsconfig.json
Due: eslint, prettier, typescript

better podcast player spec
  docs/specs/better-podcast-player/spec.md
  docs/specs/better-podcast-player/user_description.md
  docs/specs/better-podcast-player/user_story.md
Due: none

Fix stuff for unit-art
  backend/alembic/versions/ae6b1da8a7a2_art.py
  backend/modules/content_creator/flows.py
  backend/modules/content_creator/prompts/unit_art_description.md
  backend/modules/content_creator/service.py
  backend/modules/content_creator/steps.py
  backend/modules/content_creator/test_service_unit.py
  backend/scripts/create_seed_data.py
  docs/design_language.md
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  run_tests.sh
Due: eslint, prettier, typescript

Refine podcast player UX with minimization and persistence docs
  docs/specs/better-podcast-player/backend_checklist.md
  docs/specs/better-podcast-player/frontend_checklist.md
  docs/specs/better-podcast-player/spec.md
  docs/specs/better-podcast-player/trace.md
  mobile/App.tsx
  mobile/__mocks__/react-native-track-player.ts
  mobile/jest.config.js
  mobile/modules/catalog/models.ts
  mobile/modules/catalog/repo.ts
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/learning_session/components/LearningFlow.tsx
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
  mobile/modules/podcast_player/components/FullPlayer.tsx
  mobile/modules/podcast_player/components/MiniPlayer.tsx
  mobile/modules/podcast_player/hooks/usePodcastPlayer.ts
  mobile/modules/podcast_player/hooks/usePodcastState.ts
  mobile/modules/podcast_player/hooks/useTrackPlayer.ts
  mobile/modules/podcast_player/models.ts
  mobile/modules/podcast_player/public.ts
  mobile/modules/podcast_player/service.ts
  mobile/modules/podcast_player/store.ts
  mobile/modules/podcast_player/test_podcast_player_unit.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/types/react-native-track-player.d.ts
Due: eslint, prettier, typescript

Working podcast player
  backend/modules/catalog/service.py
  mobile/App.tsx
  mobile/__mocks__/expo-audio.js
  mobile/__mocks__/expo-av.js
  mobile/__mocks__/react-native-track-player.ts
  mobile/jest.config.js
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/podcast_player/hooks/useTrackPlayer.ts
  mobile/modules/podcast_player/service.ts
  mobile/modules/podcast_player/test_podcast_player_unit.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/types/react-native-track-player.d.ts
Due: eslint, prettier, typescript

Change podcast player UI
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/learning_session/components/LearningFlow.tsx
  mobile/modules/podcast_player/components/FullPlayer.tsx
  mobile/modules/podcast_player/components/MiniPlayer.tsx
  mobile/modules/podcast_player/components/PodcastPlayer.tsx
  mobile/modules/podcast_player/models.ts
  mobile/modules/podcast_player/public.ts
  mobile/modules/podcast_player/service.ts
  mobile/modules/podcast_player/store.ts
  mobile/modules/podcast_player/test_podcast_player_unit.ts
Due: eslint, prettier, typescript

UI tweaks
  backend/modules/content_creator/prompts/generate_unit_podcast_transcript.md
  backend/modules/content_creator/service.py
  backend/tests/test_lesson_creation_integration.py
  mobile/modules/catalog/components/UnitCard.tsx
  mobile/modules/catalog/components/UnitProgress.tsx
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/learning_session/components/LearningFlow.tsx
  mobile/modules/learning_session/components/MiniLesson.tsx
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
  mobile/modules/podcast_player/components/PodcastPlayer.tsx
  mobile/modules/podcast_player/models.ts
Due: eslint, prettier, typescript

Clean up learning flow UI
  mobile/modules/learning_session/components/LearningFlow.tsx
  mobile/modules/learning_session/components/MiniLesson.tsx
Due: eslint, prettier, typescript

Initial render.yaml
  render.yaml
Due: none

More complete render.yaml
  docs/RENDER_DEPLOYMENT.md
  mobile/EAS_DEPLOYMENT.md
  render.yaml
Due: prettier

Change postgres plan
  render.yaml
Due: none

New database plan
  render.yaml
Due: none

Change to free redis instance
  render.yaml
Due: none

Fix how arq is invoked on render
  backend/modules/task_queue/tasks.py
  docs/RENDER_DEPLOYMENT.md
  render.yaml
Due: none

Add root path that render expects
  backend/server.py
Due: none

More render fixes
  admin/next.config.js
  render.yaml
Due: none

Another attempt at getting ARQ worker to work on render
  backend/modules/task_queue/tasks.py
  render.yaml
Due: none

Change create seed data to include sound and image
  backend/scripts/create_seed_data.py
Due: none

Render yaml
  render.yaml
Due: none

fix urls in admin app for render
  admin/README.md
  admin/lib/api-client.ts
  admin/modules/admin/components/auth/LoginPanel.tsx
Due: none

EAS url fix
  backend/modules/task_queue/tasks.py
  backend/scripts/create_seed_data.py
  mobile/EAS_DEPLOYMENT.md
  mobile/modules/infrastructure/public.ts
Due: eslint, prettier, typescript

Fix seed data again
  .env.example
  backend/scripts/create_seed_data.py
Due: none

More flexible Expo go setup
  mobile/DEV_SETUP.md
  mobile/app.json
  mobile/eas.json
  mobile/modules/infrastructure/public.ts
  mobile/package-lock.json
  mobile/package.json
Due: eslint, prettier, typescript

Make pre-commit hooks faster by only linting changed files
  .pre-commit-config.yaml
  mobile/package.json
Due: prettier

Spec.md
  docs/specs/better-minilessons/spec.md
  docs/specs/better-minilessons/user_description.md
Due: none

EAS doc improvements
  mobile/EAS_DEPLOYMENT.md
Due: prettier

Use Redis URL on Render
  backend/modules/task_queue/service.py
Due: none

EAS stuff
  .pre-commit-config.yaml
  README.md
  mobile/EAS_DEPLOYMENT.md
  mobile/eas.json
Due: prettier

Update learning coach spec checklist
  backend/modules/admin/models.py
  backend/modules/admin/routes.py
  backend/modules/admin/service.py
  backend/modules/admin/test_admin_unit.py
  backend/modules/conversation_engine/Agents.md
  backend/modules/conversation_engine/__init__.py
  backend/modules/conversation_engine/base_conversation.py
  backend/modules/conversation_engine/context.py
  backend/modules/conversation_engine/models.py
  backend/modules/conversation_engine/public.py
  backend/modules/conversation_engine/repo.py
  backend/modules/conversation_engine/service.py
  backend/modules/conversation_engine/test_conversation_engine_unit.py
  backend/modules/learning_coach/__init__.py
  backend/modules/learning_coach/conversation.py
  backend/modules/learning_coach/dtos.py
  backend/modules/learning_coach/public.py
  backend/modules/learning_coach/routes.py
  backend/modules/learning_coach/service.py
  backend/modules/learning_coach/test_learning_coach_unit.py
  backend/modules/prompts/conversations/learning_coach/system_prompt.md
  docs/specs/conversation_engine/spec.md
  docs/specs/learning_coach/spec.md
Due: none

Format
  backend/modules/admin/service.py
  backend/modules/conversation_engine/base_conversation.py
  backend/modules/conversation_engine/context.py
  backend/modules/conversation_engine/models.py
  backend/modules/conversation_engine/public.py
  backend/modules/conversation_engine/repo.py
  backend/modules/conversation_engine/service.py
  backend/modules/conversation_engine/test_conversation_engine_unit.py
  backend/modules/learning_coach/conversation.py
  backend/modules/learning_coach/public.py
  backend/modules/learning_coach/routes.py
  backend/modules/learning_coach/service.py
  backend/modules/learning_coach/test_learning_coach_unit.py
Due: none

Add mobile learning coach conversation experience
  docs/specs/learning_coach/spec.md
  mobile/App.tsx
  mobile/modules/catalog/screens/UnitListScreen.tsx
  mobile/modules/learning_coach/components/BriefCard.tsx
  mobile/modules/learning_coach/components/Composer.tsx
  mobile/modules/learning_coach/components/ConversationList.tsx
  mobile/modules/learning_coach/components/MessageBubble.tsx
  mobile/modules/learning_coach/components/QuickReplies.tsx
  mobile/modules/learning_coach/models.ts
  mobile/modules/learning_coach/public.ts
  mobile/modules/learning_coach/queries.ts
  mobile/modules/learning_coach/repo.ts
  mobile/modules/learning_coach/screens/LearningCoachScreen.tsx
  mobile/modules/learning_coach/service.ts
  mobile/modules/learning_coach/test_learning_coach_unit.ts
  mobile/types.ts
Due: eslint, prettier, typescript

Add admin learning coach tests and docs
  admin/modules/admin/components/learning-coach/__tests__/LearningCoachConversationDetail.test.tsx
  admin/modules/admin/components/learning-coach/__tests__/LearningCoachConversationsList.test.tsx
  admin/package-lock.json
  admin/package.json
  admin/vitest.config.ts
  admin/vitest.setup.ts
  docs/api/learning_coach.md
  docs/specs/learning_coach/spec.md
Due: none

prettier
  .pre-commit-config.yaml
  docs/specs/learning_coach_frontend/spec.md
  mobile/modules/infrastructure/repo.ts
  mobile/modules/learning_coach/components/BriefCard.tsx
  mobile/modules/learning_coach/components/ConversationList.tsx
  mobile/modules/learning_coach/components/MessageBubble.tsx
  mobile/modules/learning_coach/components/QuickReplies.tsx
  mobile/modules/learning_coach/queries.ts
  mobile/modules/learning_coach/repo.ts
  mobile/modules/learning_coach/screens/LearningCoachScreen.tsx
  mobile/modules/learning_coach/service.ts
  mobile/package.json
  mobile/tsconfig.json
Due: eslint, prettier, typescript

Learning coach conversation but not integrated properly yet
  .pre-commit-config.yaml
  backend/alembic/env.py
  backend/alembic/versions/1827be4e1e9d_initial_schema.py
  backend/alembic/versions/3e2bd904a2f4_add_unit_art_fields.py
  backend/alembic/versions/ae6b1da8a7a2_art.py
  backend/modules/admin/test_admin_unit.py
  backend/modules/conversation_engine/Agents.md
  backend/modules/conversation_engine/base_conversation.py
  backend/modules/conversation_engine/context.py
  backend/modules/conversation_engine/models.py
  backend/modules/conversation_engine/public.py
  backend/modules/conversation_engine/repo.py
  backend/modules/conversation_engine/service.py
  backend/modules/conversation_engine/test_conversation_engine_unit.py
  backend/modules/infrastructure/AGENTS.md
  backend/modules/learning_coach/conversation.py
  backend/modules/learning_coach/dtos.py
  backend/modules/learning_coach/public.py
  backend/modules/learning_coach/routes.py
  backend/modules/learning_coach/service.py
  backend/modules/learning_coach/test_learning_coach_unit.py
  backend/modules/llm_services/Agents.md
  backend/modules/llm_services/models.py
  backend/modules/llm_services/providers/base.py
  backend/modules/llm_services/providers/openai.py
  backend/modules/llm_services/public.py
  backend/modules/llm_services/repo.py
  backend/modules/llm_services/service.py
  backend/modules/llm_services/test_llm_services_unit.py
  backend/modules/prompts/conversations/learning_coach/system_prompt.md
  backend/server.py
  mobile/jest.config.js
  mobile/modules/learning_coach/components/Composer.tsx
  mobile/modules/learning_coach/components/ConversationList.tsx
  mobile/modules/learning_coach/screens/LearningCoachScreen.tsx
  mobile/modules/ui_system/test_ui_system_unit.tsx
  package-lock.json
Due: eslint, prettier, typescript
