Repository brianfields/deeplearn: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd mobile && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd mobile && npm run format:check'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd mobile && npm run typecheck'
  language: system
  pass_filenames: false

lint
  backend/modules/content_creator/prompts/extract_unit_metadata.md
  backend/modules/content_creator/test_flows_unit.py
  backend/modules/llm_services/providers/openrouter.py
  backend/tests/test_lesson_creation_integration.py
Due: none

Fixing progress modal
  backend/modules/learning_conversations/conversations/learning_coach.py
  backend/modules/learning_conversations/conversations/teaching_assistant.py
  mobile/modules/catalog/components/UnitProgressModal.tsx
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/learning_conversations/components/ConversationHeader.tsx
Due: eslint, prettier, typescript

Improve expanded view
  mobile/modules/podcast_player/components/PodcastPlayer.tsx
  mobile/modules/podcast_player/hooks/usePodcastPlayer.ts
Due: eslint, prettier, typescript

fixes to expanded podcast view
  mobile/modules/catalog/components/UnitProgressModal.tsx
  mobile/modules/podcast_player/components/PodcastPlayer.tsx
Due: eslint, prettier, typescript

Tweaks to learning coach prompt
  backend/modules/content_creator/prompts/validate_and_structure_mcqs.md
  backend/modules/learning_conversations/conversations/learning_coach.py
  backend/modules/learning_conversations/prompts/system_prompt.md
  backend/modules/learning_conversations/prompts/teaching_assistant_system_prompt.md
Due: none

Learning coach worked with Gemini and a special call for LOs
  backend/modules/conversation_engine/base_conversation.py
  backend/modules/conversation_engine/public.py
  backend/modules/learning_conversations/conversations/learning_coach.py
  backend/modules/learning_conversations/prompts/finalization_extraction.md
  backend/modules/learning_conversations/prompts/system_prompt.md
  backend/modules/llm_services/config.py
  backend/modules/llm_services/providers/base.py
  backend/modules/llm_services/providers/gemini.py
  backend/modules/llm_services/public.py
  backend/modules/llm_services/service.py
  backend/modules/llm_services/types.py
Due: none

Fix navigation on adding a resource
  backend/scripts/IMPLEMENTATION_SUMMARY.md
  mobile/modules/learning_conversations/screens/LearningCoachScreen.tsx
  mobile/modules/resource/screens/AddResourceScreen.tsx
Due: eslint, prettier, typescript

Improve MCQ creation
  backend/modules/content_creator/prompts/validate_and_structure_mcqs.md
  backend/modules/content_creator/service/flow_handler.py
  backend/modules/content_creator/steps.py
Due: none

Make lesson creation flow more robust
  LOGGING_QUICK_SUMMARY.md
  backend/alembic/versions/5286f0e68204_add_retry_fields_to_flow_step_runs.py
  backend/alembic/versions/c340fb60e2a2_add_partial_status_to_units.py
  backend/modules/content/models.py
  backend/modules/content/service/dtos.py
  backend/modules/content_creator/prompts/validate_and_structure_mcqs.md
  backend/modules/content_creator/service/flow_handler.py
  backend/modules/content_creator/steps.py
  backend/modules/flow_engine/base_step.py
  backend/modules/flow_engine/models.py
  backend/modules/flow_engine/service.py
  backend/modules/learning_conversations/prompts/system_prompt.md
  docs/specs/MCQ_STRUCTURE_UNIFICATION.md
  mobile/modules/content/models.ts
Due: eslint, prettier, typescript

Fix transcript/title display issue
  backend/modules/conversation_engine/base_conversation.py
  backend/modules/flow_engine/service.py
  backend/modules/llm_services/providers/gemini.py
  mobile/modules/catalog/components/UnitProgressIndicator.tsx
  mobile/modules/content/models.ts
  mobile/modules/learning_conversations/screens/LearningCoachScreen.tsx
  mobile/modules/podcast_player/components/PodcastPlayer.tsx
Due: eslint, prettier, typescript

Fix scroll in chatbot on mobile
  admin/modules/admin/components/conversations/MessageTranscript.tsx
  mobile/modules/learning_conversations/components/ConversationList.tsx
Due: eslint, prettier, typescript

New Podcast player
  mobile/modules/catalog/components/UnitProgressModal.tsx
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/catalog/screens/UnitListScreen.tsx
  mobile/modules/learning_session/components/LearningFlow.tsx
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
  mobile/modules/podcast_player/components/MiniPlayer.tsx
  mobile/modules/podcast_player/hooks/usePodcastState.ts
  mobile/modules/podcast_player/models.ts
  mobile/modules/podcast_player/public.ts
  mobile/modules/podcast_player/service.ts
  mobile/modules/podcast_player/store.ts
  mobile/package.json
Due: eslint, prettier, typescript

Visual tweaks Miniplayer
  mobile/App.tsx
  mobile/modules/podcast_player/components/MiniPlayer.tsx
Due: eslint, prettier, typescript

Tweaks to MiniPlayer view
  mobile/App.tsx
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/catalog/screens/UnitListScreen.tsx
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
  mobile/modules/podcast_player/components/MiniPlayer.tsx
Due: eslint, prettier, typescript

Replace old podcast player
  mobile/@types/expo.d.ts
  mobile/App.tsx
  mobile/__mocks__/expo-file-system.js
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/catalog/screens/UnitListScreen.tsx
  mobile/modules/catalog/test_catalog_unit.ts
  mobile/modules/content/models.ts
  mobile/modules/content/service.ts
  mobile/modules/content/test_content_service_unit.ts
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
  mobile/modules/offline_cache/models.ts
  mobile/modules/offline_cache/public.ts
  mobile/modules/offline_cache/screens/FileSystemDetailScreen.tsx
  mobile/modules/offline_cache/screens/ManageCacheScreen.tsx
  mobile/modules/podcast_player/components/MiniPlayer.tsx
  mobile/modules/podcast_player/components/PodcastPlayer.tsx
  mobile/modules/podcast_player/public.ts
  mobile/modules/podcast_player/service.ts
  mobile/modules/ui_system/components/ArtworkImage.tsx
Due: eslint, prettier, typescript

Splash screen
  backend/lantern_room_splash.jpg
  mobile/App.tsx
  mobile/app.json
  mobile/assets/splash.jpg
  mobile/ios/Podfile.lock
  mobile/package-lock.json
  mobile/package.json
Due: eslint, prettier, typescript

Unit intro refactor spec
  docs/specs/unit-intro-podcast-as-lesson.md
Due: none

New icon
  mobile/assets/adaptive-icon.png
  mobile/assets/icon.png
Due: none

Splash screen compile
  mobile/ios/DeepLearnMobile.xcodeproj/project.pbxproj
  mobile/ios/DeepLearnMobile/Images.xcassets/AppIcon.appiconset/Contents.json
  mobile/ios/DeepLearnMobile/Images.xcassets/Contents.json
  mobile/ios/DeepLearnMobile/Images.xcassets/SplashScreenBackground.colorset/Contents.json
  mobile/ios/DeepLearnMobile/Images.xcassets/SplashScreenLogo.imageset/Contents.json
  mobile/ios/DeepLearnMobile/Images.xcassets/SplashScreenLogo.imageset/image.png
  mobile/ios/DeepLearnMobile/Images.xcassets/SplashScreenLogo.imageset/image@2x.png
  mobile/ios/DeepLearnMobile/Images.xcassets/SplashScreenLogo.imageset/image@3x.png
  mobile/ios/DeepLearnMobile/Info.plist
  mobile/ios/DeepLearnMobile/SplashScreen.storyboard
Due: prettier

Add podcast transcript segments and highlighting
  backend/alembic/versions/202511130142_add_podcast_transcript_segments.py
  backend/modules/content/models.py
  backend/modules/content/public.py
  backend/modules/content/repo.py
  backend/modules/content/service.py
  backend/modules/content/service/dtos.py
  backend/modules/content/service/facade.py
  backend/modules/content/service/lesson_handler.py
  backend/modules/content/service/media.py
  backend/modules/content/test_content_unit.py
  backend/modules/content_creator/podcast.py
  backend/modules/content_creator/service/media_handler.py
  backend/modules/llm_services/config.py
  backend/modules/llm_services/providers/base.py
  backend/modules/llm_services/providers/claude.py
  backend/modules/llm_services/providers/gemini.py
  backend/modules/llm_services/providers/openai.py
  backend/modules/llm_services/providers/openrouter.py
  backend/modules/llm_services/public.py
  backend/modules/llm_services/service.py
  backend/modules/llm_services/types.py
  mobile/modules/catalog/models.ts
  mobile/modules/content/models.ts
  mobile/modules/content/service.ts
  mobile/modules/learning_session/components/LearningFlow.tsx
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
  mobile/modules/offline_cache/models.ts
  mobile/modules/podcast_player/components/PodcastPlayer.tsx
  mobile/modules/podcast_player/models.ts
  mobile/modules/podcast_player/public.ts
Due: eslint, prettier, typescript

Text highlighting fix
  Agents.md
  LOGGING_QUICK_SUMMARY.md
  backend/alembic/versions/202511142031_expand_lesson_id_column.py
  backend/modules/content/public.py
  backend/modules/content/service.py
  backend/modules/content/service/dtos.py
  backend/modules/content/service/facade.py
  backend/modules/content/service/lesson_handler.py
  backend/modules/content/test_content_unit.py
  backend/modules/content_creator/flows.py
  backend/modules/content_creator/podcast.py
  backend/modules/content_creator/prompts/extract_unit_metadata.md
  backend/modules/content_creator/prompts/temp.txt
  backend/modules/content_creator/prompts/validate_and_structure_mcqs.md
  backend/modules/content_creator/service/content_service.py
  backend/modules/content_creator/service/facade.py
  backend/modules/content_creator/service/flow_handler.py
  backend/modules/content_creator/service/media_handler.py
  backend/modules/content_creator/steps.py
  backend/modules/flow_engine/base_step.py
  backend/modules/flow_engine/public.py
  backend/modules/learning_conversations/conversations/learning_coach.py
  backend/modules/learning_conversations/dtos.py
  backend/modules/learning_conversations/prompts/finalization_extraction.md
  backend/modules/llm_services/config.py
  backend/modules/llm_services/providers/openai.py
  backend/modules/llm_services/public.py
  backend/modules/llm_services/service.py
  backend/modules/llm_services/types.py
  backend/scripts/SEED_DATA_FORMAT.md
  backend/scripts/SEED_DATA_REFACTORING.md
  backend/scripts/create_seed_data.py
  backend/scripts/export_seed_data.py
  docs/specs/MCQ_STRUCTURE_UNIFICATION.md
  mobile/modules/catalog/models.ts
  mobile/modules/catalog/repo.ts
  mobile/modules/content/service.ts
  mobile/modules/learning_session/components/LearningFlow.tsx
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
  mobile/modules/podcast_player/components/PodcastPlayer.tsx
Due: eslint, prettier, typescript

Path conditions:
  eslint: any of: ^mobile/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^mobile/.*\.(ts|tsx|js|jsx|json|md)$
  typescript: any of: ^mobile/.*\.(ts|tsx)$
