Repository brianfields/deeplearn: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd mobile && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd mobile && npm run format:check'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd mobile && npm run typecheck'
  language: system
  pass_filenames: false

Refactor catalog module to respect frontend boundaries
  mobile/modules/catalog/models.ts
  mobile/modules/catalog/public.ts
  mobile/modules/catalog/queries.ts
  mobile/modules/catalog/repo.ts
  mobile/modules/catalog/service.ts
  mobile/modules/catalog/test_catalog_unit.ts
  mobile/modules/content/models.ts
  mobile/modules/content/public.ts
  mobile/modules/content/repo.ts
  mobile/modules/content/service.ts
  mobile/modules/content_creator/models.ts
  mobile/modules/content_creator/public.ts
  mobile/modules/content_creator/repo.ts
  mobile/modules/content_creator/service.ts
Due: eslint, prettier, typescript

Add authentication entry flow for mobile and admin
  admin/app/layout.tsx
  admin/modules/admin/components/auth/AdminAuthProvider.tsx
  admin/modules/admin/components/auth/LoginPanel.tsx
  admin/modules/admin/components/shared/AdminShell.tsx
  admin/modules/admin/components/shared/Navigation.tsx
  mobile/App.tsx
  mobile/modules/catalog/screens/CreateUnitScreen.tsx
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/catalog/screens/UnitListScreen.tsx
  mobile/modules/user/context.tsx
  mobile/modules/user/public.ts
  mobile/modules/user/screens/AuthLandingScreen.tsx
  mobile/modules/user/screens/LoginScreen.tsx
  mobile/modules/user/screens/RegisterScreen.tsx
  mobile/types.ts
Due: eslint, prettier, typescript

Seed data
  admin/lib/api-client.ts
  admin/lib/query-client.tsx
  admin/modules/admin/repo.ts
  backend/docs/module_dependencies.mmd
  backend/modules/content/models.py
  backend/modules/user/service.py
  backend/scripts/create_seed_data.py
  backend/server.py
  mobile/modules/content/models.ts
Due: eslint, prettier, typescript

Lint
  backend/alembic/env.py
  backend/modules/admin/service.py
  backend/modules/admin/test_admin_unit.py
  backend/modules/catalog/service.py
  backend/modules/content/repo.py
  backend/modules/content/routes.py
  backend/modules/content/service.py
  backend/modules/learning_session/service.py
  backend/modules/llm_services/routes.py
  backend/modules/llm_services/test_llm_services_unit.py
  backend/modules/user/public.py
  backend/modules/user/service.py
  backend/scripts/create_seed_data.py
  mobile/App.tsx
  mobile/modules/catalog/components/UnitCard.tsx
  mobile/modules/catalog/components/UnitProgress.tsx
  mobile/modules/catalog/components/UnitProgressIndicator.tsx
  mobile/modules/catalog/public.ts
  mobile/modules/catalog/queries.ts
  mobile/modules/catalog/screens/CreateUnitScreen.tsx
  mobile/modules/catalog/service.ts
  mobile/modules/catalog/test_catalog_unit.ts
  mobile/modules/content/models.ts
  mobile/modules/content/public.ts
  mobile/modules/content/service.ts
  mobile/modules/content_creator/public.ts
  mobile/modules/content_creator/repo.ts
  mobile/modules/content_creator/service.ts
  mobile/modules/user/context.tsx
  mobile/modules/user/public.ts
  mobile/modules/user/queries.ts
  mobile/modules/user/screens/AuthLandingScreen.tsx
  mobile/modules/user/test_user_unit.ts
Due: eslint, prettier, typescript

Move user auth service to user module
  backend/modules/catalog/service.py
  backend/modules/content/public.py
  backend/modules/content/routes.py
  backend/modules/content/service.py
  docs/arch/frontend.md
  docs/arch/frontend_checklist.md
  mobile/e2e/learning-flow.yaml
  mobile/modules/content/models.ts
  mobile/modules/learning_session/models.ts
  mobile/modules/learning_session/queries.ts
  mobile/modules/learning_session/repo.ts
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
  mobile/modules/learning_session/service.ts
  mobile/modules/learning_session/test_learning_session_unit.ts
  mobile/modules/user/context.tsx
  mobile/modules/user/identity.ts
  mobile/modules/user/public.ts
  mobile/modules/user/screens/LoginScreen.tsx
Due: eslint, prettier, typescript

Users module working
  admin/lib/utils.ts
  admin/modules/admin/components/llm-requests/LLMRequestsList.tsx
  admin/modules/admin/components/shared/ErrorMessage.tsx
  admin/modules/admin/components/shared/Navigation.tsx
  admin/modules/admin/components/shared/StatusBadge.tsx
  admin/modules/admin/models.ts
  admin/modules/admin/queries.ts
  admin/modules/admin/repo.ts
  admin/modules/admin/service.ts
  admin/modules/admin/store.ts
  admin/tsconfig.tsbuildinfo
  docs/expo_build.md
  mobile/metro.config.js
  mobile/modules/learning_session/repo.ts
  mobile/modules/learning_session/test_learning_session_unit.ts
  mobile/package.json
  mobile/shims/Agents.md
  mobile/shims/emptyModule.js
  mobile/shims/legacyRctEventEmitter.js
  mobile/shims/nativeEventEmitter.js
  mobile/shims/nativePushNotificationManagerIOS.js
  mobile/shims/pushNotificationIOSModule.js
Due: eslint, prettier, typescript

Fix resolver issue
  mobile/metro.config.js
Due: eslint, prettier

Fix maestro test
  mobile/App.tsx
  mobile/e2e/learning-flow.yaml
  mobile/modules/catalog/screens/UnitListScreen.tsx
  mobile/modules/user/context.tsx
Due: eslint, prettier, typescript

Add unit podcast generation and playback
  admin/modules/admin/models.ts
  admin/modules/admin/service.ts
  backend/alembic/versions/8d2b4b9bb4f2_add_unit_podcast_fields.py
  backend/modules/catalog/service.py
  backend/modules/content/models.py
  backend/modules/content/public.py
  backend/modules/content/repo.py
  backend/modules/content/routes.py
  backend/modules/content/service.py
  backend/modules/content/test_content_unit.py
  backend/modules/content_creator/podcast.py
  backend/modules/content_creator/prompts/generate_unit_podcast_transcript.md
  backend/modules/content_creator/service.py
  backend/modules/content_creator/steps.py
  backend/modules/content_creator/test_flows_unit.py
  docs/specs/unit_podcast/spec.md
  mobile/__mocks__/expo-av.js
  mobile/jest.config.js
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/catalog/test_catalog_unit.ts
  mobile/modules/content/models.ts
Due: eslint, prettier, typescript

Spec for object_store
  backend/modules/object_store/image_service.py
  backend/modules/object_store/models.py
  backend/modules/object_store/s3_provider.py
  docs/specs/object_store/spec.md
  docs/specs/object_store/user_description.md
Due: none

Implement object store service and tests
  backend/alembic/versions/d2b174c9a3ef_create_object_store_tables.py
  backend/modules/object_store/image_service.py
  backend/modules/object_store/models.py
  backend/modules/object_store/public.py
  backend/modules/object_store/repo.py
  backend/modules/object_store/s3_provider.py
  backend/modules/object_store/service.py
  backend/modules/object_store/test_object_store_unit.py
  backend/requirements.txt
  backend/scripts/create_seed_data.py
  docs/specs/object_store/spec.md
  docs/specs/object_store/trace.md
Due: none

boto requirements
  .env.example
  backend/modules/object_store/models.py
  backend/modules/object_store/public.py
  backend/modules/object_store/repo.py
  backend/modules/object_store/service.py
  backend/modules/object_store/test_object_store_unit.py
  backend/requirements.txt
Due: none

Lint
  backend/modules/object_store/public.py
  backend/modules/object_store/s3_provider.py
  backend/modules/object_store/test_object_store_unit.py
Due: none

Generate AI cover art for new units
  backend/alembic/versions/d3c8f2b7b3fb_add_unit_cover_images.py
  backend/modules/content/models.py
  backend/modules/content/public.py
  backend/modules/content/routes.py
  backend/modules/content/service.py
  backend/modules/content/test_content_unit.py
  backend/modules/content_creator/service.py
  backend/modules/content_creator/test_flows_unit.py
  mobile/modules/catalog/components/UnitCard.tsx
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/catalog/test_catalog_unit.ts
  mobile/modules/content/models.ts
Due: eslint, prettier, typescript

Track exercise attempts and surface unit objective progress
  admin/app/units/[id]/page.tsx
  admin/modules/admin/models.ts
  admin/modules/admin/service.ts
  backend/modules/catalog/public.py
  backend/modules/catalog/routes.py
  backend/modules/catalog/service.py
  backend/modules/catalog/test_lesson_catalog_unit.py
  backend/modules/learning_session/repo.py
  backend/modules/learning_session/routes.py
  backend/modules/learning_session/service.py
  backend/modules/learning_session/test_learning_session_unit.py
  mobile/modules/catalog/test_catalog_unit.ts
  mobile/modules/content/models.ts
  mobile/modules/learning_session/models.ts
  mobile/modules/learning_session/test_learning_session_unit.ts
Due: eslint, prettier, typescript

Agentsmd
  docs/Agents.md
Due: none

Move agents
  Agents.md
Due: none

Refactor unit podcasts to rely on object store
  admin/modules/admin/service.ts
  backend/modules/catalog/service.py
  backend/modules/content/models.py
  backend/modules/content/public.py
  backend/modules/content/repo.py
  backend/modules/content/routes.py
  backend/modules/content/service.py
  backend/modules/content/test_content_unit.py
  backend/modules/content_creator/routes.py
  backend/modules/content_creator/service.py
  backend/modules/content_creator/test_flows_unit.py
Due: none

Refactor catalog progress aggregation to use analytics provider
  backend/modules/admin/routes.py
  backend/modules/catalog/public.py
  backend/modules/catalog/service.py
  backend/modules/catalog/test_lesson_catalog_unit.py
  backend/modules/learning_session/analytics.py
  backend/modules/learning_session/public.py
  backend/modules/learning_session/service.py
Due: none

Improve test
  backend/modules/catalog/service.py
  backend/modules/catalog/test_lesson_catalog_unit.py
  backend/modules/learning_session/analytics.py
  backend/modules/learning_session/public.py
  backend/modules/learning_session/repo.py
  mobile/e2e/learning-flow.yaml
Due: none

Add AGents file to leanring_Session
  backend/modules/learning_session/AGENTS.md
Due: none

Add some Agents.md files
  backend/modules/flow_engine/Agents.md
  backend/modules/llm_services/Agents.md
  backend/modules/object_store/Agents.md
  backend/modules/task_queue/Agents.md
Due: none

Move to mapped_column
  backend/modules/content/models.py
  backend/modules/learning_session/public.py
  backend/modules/user/models.py
Due: none

Remove streaming logic from OpenAI audio synthesis
  backend/modules/content_creator/flows.py
  backend/modules/content_creator/podcast.py
  backend/modules/content_creator/steps.py
  backend/modules/flow_engine/base_step.py
  backend/modules/flow_engine/public.py
  backend/modules/llm_services/providers/base.py
  backend/modules/llm_services/providers/openai.py
  backend/modules/llm_services/public.py
  backend/modules/llm_services/service.py
  backend/modules/llm_services/test_llm_services_unit.py
  backend/modules/llm_services/types.py
Due: none

Lint
  backend/modules/admin/routes.py
  backend/modules/catalog/routes.py
  backend/modules/catalog/service.py
  backend/modules/content/public.py
  backend/modules/content/routes.py
  backend/modules/content/service.py
  backend/modules/content/test_content_unit.py
  backend/modules/content_creator/podcast.py
  backend/modules/content_creator/routes.py
  backend/modules/content_creator/service.py
  backend/modules/content_creator/test_flows_unit.py
  backend/modules/flow_engine/base_step.py
  backend/modules/flow_engine/public.py
  backend/modules/learning_session/public.py
  backend/modules/learning_session/routes.py
  backend/modules/learning_session/service.py
  backend/modules/learning_session/test_learning_session_unit.py
  backend/modules/llm_services/providers/openai.py
  backend/modules/llm_services/service.py
  backend/modules/object_store/test_object_store_unit.py
  mobile/e2e/learning-flow.yaml
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
Due: eslint, prettier, typescript

Worked once -- podcast (didn't work twice)
  backend/alembic/versions/4f3f8c5f4c5a_create_users_table.py
  backend/alembic/versions/8d2b4b9bb4f2_add_unit_podcast_fields.py
  backend/alembic/versions/bcbced6d3bb7_add_unit_owner_fields.py
  backend/alembic/versions/d2b174c9a3ef_create_object_store_tables.py
  backend/alembic/versions/df47171ac6ed_initial_schema.py
  backend/modules/catalog/service.py
  backend/modules/content/public.py
  backend/modules/content/routes.py
  backend/modules/content/service.py
  backend/modules/content_creator/flows.py
  backend/modules/content_creator/podcast.py
  backend/modules/content_creator/prompts/generate_unit_podcast_transcript.md
  backend/modules/content_creator/public.py
  backend/modules/content_creator/routes.py
  backend/modules/content_creator/service.py
  backend/modules/content_creator/steps.py
  backend/modules/flow_engine/base_flow.py
  backend/modules/llm_services/providers/openai.py
  backend/scripts/run_integration.py
  backend/tests/test_lesson_creation_integration.py
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/content_creator/repo.ts
Due: eslint, prettier, typescript

More reliable
  backend/modules/content/service.py
  backend/modules/content_creator/prompts/generate_unit_podcast_transcript.md
Due: none

Fix test
  backend/modules/content_creator/test_flows_unit.py
Due: none

Fix test
  backend/modules/content_creator/test_flows_unit.py
  codegen/common.py
Due: none

Spec for moving to async
  docs/specs/content-async/spec.md
  docs/specs/content-async/user_description.md
Due: none

Align integration tooling with async sessions
  backend/modules/admin/routes.py
  backend/modules/admin/service.py
  backend/modules/admin/test_admin_unit.py
  backend/modules/catalog/public.py
  backend/modules/catalog/routes.py
  backend/modules/catalog/service.py
  backend/modules/catalog/test_lesson_catalog_unit.py
  backend/modules/content/public.py
  backend/modules/content/repo.py
  backend/modules/content/routes.py
  backend/modules/content/service.py
  backend/modules/content/test_content_unit.py
  backend/modules/content_creator/public.py
  backend/modules/content_creator/routes.py
  backend/modules/content_creator/service.py
  backend/modules/content_creator/test_flows_unit.py
  backend/modules/content_creator/test_service_unit.py
  backend/modules/infrastructure/public.py
  backend/modules/infrastructure/service.py
  backend/modules/infrastructure/test_infrastructure_unit.py
  backend/modules/learning_session/analytics.py
  backend/modules/learning_session/public.py
  backend/modules/learning_session/repo.py
  backend/modules/learning_session/routes.py
  backend/modules/learning_session/service.py
  backend/modules/learning_session/test_learning_session_unit.py
  backend/requirements.txt
  backend/scripts/create_seed_data.py
  backend/scripts/create_unit.py
  backend/tests/test_lesson_creation_integration.py
  docs/specs/content-async/spec.md
  docs/specs/content-async/trace.md
Due: none

Lint
  backend/modules/catalog/service.py
  backend/modules/content/public.py
  backend/modules/content/repo.py
  backend/modules/content/service.py
  backend/modules/content/test_content_unit.py
  backend/modules/content_creator/public.py
  backend/modules/content_creator/routes.py
  backend/modules/infrastructure/public.py
  backend/modules/infrastructure/service.py
  backend/modules/learning_session/repo.py
  backend/modules/learning_session/service.py
  backend/requirements.txt
  backend/scripts/run_integration.py
  backend/scripts/run_unit.py
  backend/tests/test_lesson_creation_integration.py
Due: none

Prettier
  backend/scripts/run_unit.py
Due: none

More lint
  admin/modules/admin/models.ts
  admin/modules/admin/service.ts
Due: none

Path conditions:
  eslint: any of: ^mobile/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^mobile/.*\.(ts|tsx|js|jsx|json|md)$
  typescript: any of: ^mobile/.*\.(ts|tsx)$
