Repository brianfields/deeplearn: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript

.pre-commit-config.yaml:

repos:
  # Backend Python linting
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.0
    hooks:
      - id: mypy
        args: [--config-file=backend/pyproject.toml]
        additional_dependencies: [pydantic, sqlalchemy, fastapi]
        files: ^backend/src/
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/(src|tests)/
      - id: ruff-format
        files: ^backend/(src|tests)/

  # Frontend TypeScript/React Native linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd mobile && npm run lint'
        language: system
        files: ^mobile/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd mobile && npm run format:check'
        language: system
        files: ^mobile/.*\.(ts|tsx|js|jsx|json|md)$
        pass_filenames: false
      - id: typescript
        name: TypeScript Check (Frontend)
        entry: bash -c 'cd mobile && npm run typecheck'
        language: system
        files: ^mobile/.*\.(ts|tsx)$
        pass_filenames: false

Deal with PR comment
  backend/modules/admin/routes.py
  backend/modules/admin/service.py
  backend/modules/admin/test_admin_unit.py
  backend/modules/conversation_engine/public.py
  backend/modules/conversation_engine/repo.py
  backend/modules/conversation_engine/service.py
  backend/modules/conversation_engine/test_conversation_engine_unit.py
  backend/modules/llm_services/test_llm_services_unit.py
  backend/pyproject.toml
  mobile/__mocks__/slider.js
Due: eslint, prettier

Add admin conversations dashboard views
  admin/app/conversations/[id]/page.tsx
  admin/app/conversations/page.tsx
  admin/modules/admin/components/conversations/ConversationDetails.tsx
  admin/modules/admin/components/conversations/ConversationsList.tsx
  admin/modules/admin/components/conversations/MessageTranscript.tsx
  admin/modules/admin/components/shared/Navigation.tsx
  admin/modules/admin/components/users/UserDetail.tsx
  admin/modules/admin/models.ts
  admin/modules/admin/queries.ts
  admin/modules/admin/repo.ts
  admin/modules/admin/service.test.ts
  admin/modules/admin/service.ts
  admin/modules/admin/store.ts
  docs/specs/add-conversations-to-admin/spec.md
Due: none

Fixes
  backend/alembic/versions/2e5fd6f89b1c_require_unit_id_on_learning_sessions.py
  backend/alembic/versions/95f796d6e668_initial_schema.py
  backend/modules/catalog/service.py
  backend/modules/content/package_models.py
  backend/modules/content/service.py
  backend/modules/content_creator/service.py
  backend/modules/learning_coach/conversation.py
  backend/modules/learning_coach/routes.py
  backend/modules/learning_session/public.py
  backend/modules/learning_session/service.py
  backend/scripts/create_seed_data.py
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/catalog/test_catalog_unit.ts
  mobile/modules/content/service.ts
  mobile/modules/learning_session/repo.ts
  mobile/modules/learning_session/screens/ResultsScreen.tsx
  mobile/modules/learning_session/service.ts
  mobile/modules/learning_session/store.ts
  mobile/modules/learning_session/test_learning_session_unit.ts
Due: eslint, prettier, typescript

Refine LOs
  docs/specs/refine-los/spec.md
  docs/specs/refine-los/user_description.md
Due: none

Adjust implement.md
  codegen/prompts/implement.md
Due: none

spec
  docs/specs/global-vs-my-units/spec.md
  docs/specs/global-vs-my-units/user_description.md
Due: none

feat(mobile): adopt react-native-track-player
  mobile/__mocks__/expo-audio.js
  mobile/__mocks__/react-native-track-player.js
  mobile/app.json
  mobile/index.ts
  mobile/jest.config.js
  mobile/modules/podcast_player/hooks/useTrackPlayer.ts
  mobile/modules/podcast_player/service.ts
  mobile/modules/podcast_player/test_podcast_player_unit.ts
  mobile/modules/podcast_player/trackPlayerBackgroundService.ts
  mobile/package-lock.json
  mobile/package.json
Due: eslint, prettier, typescript

Add My Units seed data and trace docs
  backend/alembic/versions/7d6c1c4dc8f1_add_user_my_units_table.py
  backend/modules/catalog/service.py
  backend/modules/catalog/test_lesson_catalog_unit.py
  backend/modules/content/models.py
  backend/modules/content/public.py
  backend/modules/content/repo.py
  backend/modules/content/routes.py
  backend/modules/content/service.py
  backend/modules/content/test_content_unit.py
  backend/scripts/create_seed_data.py
  docs/specs/global-vs-my-units/backend_checklist.md
  docs/specs/global-vs-my-units/frontend_checklist.md
  docs/specs/global-vs-my-units/spec.md
  docs/specs/global-vs-my-units/trace.md
  mobile/App.tsx
  mobile/modules/catalog/components/CatalogUnitCard.tsx
  mobile/modules/catalog/components/UnitCard.tsx
  mobile/modules/catalog/components/__tests__/CatalogUnitCard.test.tsx
  mobile/modules/catalog/queries.ts
  mobile/modules/catalog/screens/CatalogBrowserScreen.tsx
  mobile/modules/catalog/screens/UnitListScreen.tsx
  mobile/modules/catalog/test_catalog_unit.ts
  mobile/modules/content/models.ts
  mobile/modules/content/public.ts
  mobile/modules/content/repo.ts
  mobile/modules/content/service.ts
  mobile/modules/content/test_content_service_unit.ts
  mobile/types.ts
Due: eslint, prettier, typescript

feat: refine lo backend logic for phase 2
  backend/alembic/versions/b4b3b6e2d5a1_add_lo_title_description.py
  backend/modules/content/models.py
  backend/modules/content/service.py
  backend/modules/content/test_content_unit.py
  backend/modules/content_creator/prompts/extract_unit_metadata.md
  backend/modules/content_creator/service.py
  backend/modules/content_creator/steps.py
  backend/modules/content_creator/test_flows_unit.py
  backend/modules/content_creator/test_service_unit.py
  backend/modules/learning_coach/conversation.py
  backend/modules/learning_coach/dtos.py
  backend/modules/learning_coach/prompts/system_prompt.md
  backend/modules/learning_coach/routes.py
  backend/modules/learning_coach/service.py
  backend/modules/learning_coach/test_learning_coach_unit.py
  backend/modules/learning_session/routes.py
  backend/modules/learning_session/service.py
  backend/modules/learning_session/test_learning_session_unit.py
  backend/scripts/create_seed_data.py
  docs/specs/refine-los/spec.md
Due: none

Remove ios build from repo
  .gitignore
  mobile/ios/.gitignore
  mobile/ios/.xcode.env
  mobile/ios/DeepLearnMobile.xcodeproj/project.pbxproj
  mobile/ios/DeepLearnMobile.xcodeproj/xcshareddata/xcschemes/DeepLearnMobile.xcscheme
  mobile/ios/DeepLearnMobile.xcworkspace/contents.xcworkspacedata
  mobile/ios/DeepLearnMobile/AppDelegate.swift
  mobile/ios/DeepLearnMobile/DeepLearnMobile-Bridging-Header.h
  mobile/ios/DeepLearnMobile/DeepLearnMobile.entitlements
  mobile/ios/DeepLearnMobile/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
  mobile/ios/DeepLearnMobile/Images.xcassets/AppIcon.appiconset/Contents.json
  mobile/ios/DeepLearnMobile/Images.xcassets/Contents.json
  mobile/ios/DeepLearnMobile/Images.xcassets/SplashScreenBackground.colorset/Contents.json
  mobile/ios/DeepLearnMobile/Images.xcassets/SplashScreenLogo.imageset/Contents.json
  mobile/ios/DeepLearnMobile/Images.xcassets/SplashScreenLogo.imageset/image.png
  mobile/ios/DeepLearnMobile/Images.xcassets/SplashScreenLogo.imageset/image@2x.png
  mobile/ios/DeepLearnMobile/Images.xcassets/SplashScreenLogo.imageset/image@3x.png
  mobile/ios/DeepLearnMobile/Info.plist
  mobile/ios/DeepLearnMobile/PrivacyInfo.xcprivacy
  mobile/ios/DeepLearnMobile/SplashScreen.storyboard
  mobile/ios/DeepLearnMobile/Supporting/Expo.plist
  mobile/ios/Podfile
  mobile/ios/Podfile.lock
  mobile/ios/Podfile.properties.json
Due: prettier

Fix podcast player
  admin/app/units/[id]/page.tsx
  admin/app/units/page.tsx
  admin/modules/admin/models.ts
  backend/requirements.txt
  backend/scripts/create_seed_data.py
  mobile/index.ts
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/podcast_player/components/PodcastPlayer.tsx
  mobile/modules/podcast_player/hooks/useTrackPlayer.ts
  mobile/modules/podcast_player/service.ts
  mobile/modules/podcast_player/test_podcast_player_unit.ts
  mobile/modules/podcast_player/trackPlayerBackgroundService.ts
Due: eslint, prettier, typescript

Restrict unit sync to My Units and fix catalog membership
  backend/modules/content/service.py
  backend/modules/content/test_content_unit.py
  mobile/modules/catalog/screens/CatalogBrowserScreen.tsx
Due: eslint, prettier, typescript

Normalize learning objective fields
  backend/modules/catalog/service.py
  backend/modules/catalog/test_lesson_catalog_unit.py
  backend/modules/content/service.py
  backend/modules/content_creator/service.py
  backend/modules/learning_coach/conversation.py
  backend/modules/learning_coach/service.py
  backend/modules/learning_session/service.py
Due: none

Fix podcast player
  admin/modules/admin/models.ts
  backend/requirements.txt
  backend/scripts/create_seed_data.py
  mobile/index.ts
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/podcast_player/components/PodcastPlayer.tsx
  mobile/modules/podcast_player/hooks/useTrackPlayer.ts
  mobile/modules/podcast_player/service.ts
  mobile/modules/podcast_player/test_podcast_player_unit.ts
  mobile/modules/podcast_player/trackPlayerBackgroundService.ts
Due: eslint, prettier, typescript

iOS build
  backend/modules/content_creator/service.py
  mobile/ios/.gitignore
  mobile/ios/.xcode.env
  mobile/ios/DeepLearnMobile.xcodeproj/project.pbxproj
  mobile/ios/DeepLearnMobile.xcodeproj/xcshareddata/xcschemes/DeepLearnMobile.xcscheme
  mobile/ios/DeepLearnMobile/AppDelegate.swift
  mobile/ios/DeepLearnMobile/DeepLearnMobile-Bridging-Header.h
  mobile/ios/DeepLearnMobile/DeepLearnMobile.entitlements
  mobile/ios/DeepLearnMobile/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
  mobile/ios/DeepLearnMobile/Images.xcassets/SplashScreenLogo.imageset/image.png
  mobile/ios/DeepLearnMobile/Images.xcassets/SplashScreenLogo.imageset/image@2x.png
  mobile/ios/DeepLearnMobile/Images.xcassets/SplashScreenLogo.imageset/image@3x.png
  mobile/ios/DeepLearnMobile/PrivacyInfo.xcprivacy
  mobile/ios/DeepLearnMobile/SplashScreen.storyboard
  mobile/ios/DeepLearnMobile/Supporting/Expo.plist
  mobile/ios/Podfile
  mobile/ios/Podfile.properties.json
Due: prettier

feat: refine lo backend logic for phase 2
  backend/modules/content/service.py
  backend/modules/content_creator/service.py
  backend/modules/learning_session/service.py
Due: none

Remove ios build from repo
  mobile/ios/.gitignore
  mobile/ios/.xcode.env
  mobile/ios/DeepLearnMobile.xcodeproj/xcshareddata/xcschemes/DeepLearnMobile.xcscheme
  mobile/ios/DeepLearnMobile/AppDelegate.swift
  mobile/ios/DeepLearnMobile/DeepLearnMobile-Bridging-Header.h
  mobile/ios/DeepLearnMobile/DeepLearnMobile.entitlements
  mobile/ios/DeepLearnMobile/Images.xcassets/AppIcon.appiconset/App-Icon-1024x1024@1x.png
  mobile/ios/DeepLearnMobile/Images.xcassets/SplashScreenLogo.imageset/image.png
  mobile/ios/DeepLearnMobile/Images.xcassets/SplashScreenLogo.imageset/image@2x.png
  mobile/ios/DeepLearnMobile/Images.xcassets/SplashScreenLogo.imageset/image@3x.png
  mobile/ios/DeepLearnMobile/PrivacyInfo.xcprivacy
  mobile/ios/DeepLearnMobile/SplashScreen.storyboard
  mobile/ios/DeepLearnMobile/Supporting/Expo.plist
  mobile/ios/Podfile
  mobile/ios/Podfile.properties.json
Due: prettier

Fix podcast player
  admin/app/units/page.tsx
Due: none

Add admin learning sessions dashboard view
  admin/app/learning-sessions/[sessionId]/page.tsx
  admin/app/learning-sessions/page.tsx
  admin/modules/admin/components/learning-sessions/LearningSessionDetails.tsx
  admin/modules/admin/components/learning-sessions/LearningSessionsList.tsx
  admin/modules/admin/components/shared/Navigation.tsx
  admin/modules/admin/models.ts
  admin/modules/admin/queries.ts
  admin/modules/admin/repo.ts
  admin/modules/admin/service.test.ts
  admin/modules/admin/service.ts
  admin/modules/admin/store.ts
  backend/modules/admin/models.py
  backend/modules/admin/routes.py
  backend/modules/admin/service.py
  backend/modules/admin/test_admin_unit.py
  backend/modules/learning_session/public.py
  backend/modules/learning_session/repo.py
  backend/modules/learning_session/service.py
Due: none

Fixes
  backend/alembic/versions/7d6c1c4dc8f1_add_user_my_units_table.py
  backend/alembic/versions/8f22bdd4a329_initial_schema.py
  backend/alembic/versions/b4b3b6e2d5a1_add_lo_title_description.py
  backend/modules/content/repo.py
  backend/modules/content/test_content_unit.py
  backend/scripts/create_seed_data.py
  docs/arch/frontend.md
  mobile/ios/DeepLearnMobile.xcodeproj/project.pbxproj
  mobile/modules/catalog/components/CatalogUnitCard.tsx
  mobile/modules/catalog/components/UnitCard.tsx
  mobile/modules/catalog/components/__tests__/CatalogUnitCard.test.tsx
  mobile/modules/catalog/queries.ts
  mobile/modules/catalog/screens/CatalogBrowserScreen.tsx
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/catalog/screens/UnitListScreen.tsx
  mobile/modules/catalog/service.ts
  mobile/modules/content/public.ts
  mobile/modules/content/repo.ts
  mobile/modules/content/service.ts
  mobile/modules/offline_cache/repo.ts
  mobile/modules/offline_cache/service.ts
Due: eslint, prettier, typescript

spec
  docs/specs/better-mini-lessons/spec.md
  docs/specs/better-mini-lessons/user_description.md
Due: none

fixes
  backend/modules/learning_session/repo.py
  backend/scripts/create_seed_data.py
  codegen/prompts/implement.md
Due: none

Fix draining outbox
  backend/alembic/versions/44c03196ddfc_initial_schema.py
  backend/modules/admin/routes.py
  backend/modules/admin/service.py
  mobile/modules/catalog/test_catalog_unit.ts
  mobile/modules/content/service.ts
  mobile/modules/content/test_content_service_unit.ts
  mobile/modules/learning_session/service.ts
  mobile/modules/offline_cache/public.ts
  mobile/modules/offline_cache/service.ts
Due: eslint, prettier, typescript

Fix podcast playlist URLs with API base
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
Due: eslint, prettier, typescript

Add 'Manage Cache' screens for debugging
  backend/alembic/versions/202411050001_add_lesson_podcast_columns.py
  backend/alembic/versions/5936680d184f_initial_schema.py
  backend/modules/admin/test_admin_unit.py
  backend/modules/catalog/service.py
  backend/modules/content/public.py
  backend/modules/content/service.py
  backend/scripts/create_seed_data.py
  backend/tests/test_lesson_creation_integration.py
  codegen/prompts/spec.md
  format_code.sh
  mobile/App.tsx
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/catalog/screens/UnitListScreen.tsx
  mobile/modules/content/service.ts
  mobile/modules/content/test_content_service_unit.ts
  mobile/modules/infrastructure/service.ts
  mobile/modules/learning_session/components/LearningFlow.tsx
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
  mobile/modules/offline_cache/repo.ts
  mobile/modules/offline_cache/screens/AsyncStorageDetailScreen.tsx
  mobile/modules/offline_cache/screens/CacheManagementScreen.tsx
  mobile/modules/offline_cache/screens/FileSystemDetailScreen.tsx
  mobile/modules/offline_cache/screens/ManageCacheScreen.tsx
  mobile/modules/offline_cache/screens/SQLiteDetailScreen.tsx
  mobile/modules/offline_cache/test_cache_management_screen_component.tsx
  mobile/modules/podcast_player/public.ts
  mobile/modules/podcast_player/service.ts
  mobile/modules/podcast_player/store.ts
  mobile/types.ts
Due: eslint, prettier, typescript
