Repository brianfields/deeplearn: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript

.pre-commit-config.yaml:

repos:
  # Backend Python linting
  - repo: https://github.com/pre-commit/mirrors-mypy
    rev: v1.17.0
    hooks:
      - id: mypy
        args: [--config-file=backend/pyproject.toml]
        additional_dependencies: [pydantic, sqlalchemy, fastapi]
        files: ^backend/src/
  - repo: https://github.com/charliermarsh/ruff-pre-commit
    rev: v0.8.4
    hooks:
      - id: ruff
        args: [--fix, --exit-non-zero-on-fix]
        files: ^backend/(src|tests)/
      - id: ruff-format
        files: ^backend/(src|tests)/

  # Frontend TypeScript/React Native linting
  - repo: local
    hooks:
      - id: eslint
        name: ESLint (Frontend)
        entry: bash -c 'cd mobile && npm run lint'
        language: system
        files: ^mobile/.*\.(ts|tsx|js|jsx)$
        pass_filenames: false
      - id: prettier
        name: Prettier (Frontend)
        entry: bash -c 'cd mobile && npm run format:check'
        language: system
        files: ^mobile/.*\.(ts|tsx|js|jsx|json|md)$
        pass_filenames: false
      - id: typescript
        name: TypeScript Check (Frontend)
        entry: bash -c 'cd mobile && npm run typecheck'
        language: system
        files: ^mobile/.*\.(ts|tsx)$
        pass_filenames: false

Fix create_topic script
  backend/modules/content/public.py
  backend/modules/content_creation/module_api/content_creation_service.py
  backend/scripts/create_topic.py
  backend/tests/test_topic_creation_integration.py
Due: none

Fix up DB commits
  backend/modules/content/public.py
  backend/modules/content_creator/public.py
  backend/modules/content_creator/routes.py
  backend/modules/flow_engine/flows/base.py
  backend/modules/learning_session/public.py
  backend/modules/learning_session/routes.py
  backend/modules/topic_catalog/public.py
  backend/modules/topic_catalog/routes.py
  backend/scripts/create_topic.py
  docs/arch/backend.md
  docs/specs/FRONTEND_MODULAR_MIGRATION_PLAN.md
  mobile/App.tsx
  mobile/modules/topic_catalog/screens/TopicListScreen.tsx
Due: eslint, prettier, typescript

Backend lint fixes, etc
  backend/alembic/env.py
  backend/modules/content_creator/test_content_creator_unit.py
  backend/modules/flow_engine/base_flow.py
  backend/modules/flow_engine/base_step.py
  backend/modules/flow_engine/flows/__init__.py
  backend/modules/flow_engine/public.py
  backend/modules/flow_engine/service.py
  backend/modules/flow_engine/steps/__init__.py
  backend/modules/flow_engine/test_flow_engine_unit.py
  backend/modules/learning_session/routes.py
  backend/modules/topic_catalog/routes.py
  backend/scripts/create_topic.py
  backend/scripts/run_integration.py
  backend/scripts/run_unit.py
  backend/tests/test_topic_creation_integration.py
  docs/arch/backend.md
  docs/specs/FRONTEND_MODULAR_MIGRATION_PLAN.md
Due: none

Rough frontend
  backend/modules/learning_session/routes.py
  backend/modules/learning_session/service.py
  mobile/modules/learning_session/components/DidacticSnippet.tsx
  mobile/modules/learning_session/components/LearningFlow.tsx
  mobile/modules/learning_session/components/MultipleChoice.tsx
  mobile/modules/learning_session/models.ts
  mobile/modules/learning_session/repo.ts
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
  mobile/modules/learning_session/service.ts
  mobile/modules/ui_system/components/Button.tsx
  mobile/modules/ui_system/components/Card.tsx
  mobile/modules/ui_system/components/Progress.tsx
Due: eslint, prettier, typescript

migration complete
  mobile/modules/learning_session/components/DidacticSnippet.tsx
  mobile/modules/learning_session/components/LearningFlow.tsx
  mobile/modules/learning_session/components/MultipleChoice.tsx
  mobile/modules/learning_session/repo.ts
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
  mobile/modules/learning_session/screens/ResultsScreen.tsx
  mobile/src/types/index.ts
Due: eslint, prettier, typescript

Clean up tests
  backend/modules/learning_session/test_learning_session_unit.py
  mobile/jest.config.js
  mobile/modules/learning_session/components/LearningFlow.tsx
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
  mobile/modules/learning_session/test_learning_session_unit.ts
  mobile/modules/topic_catalog/test_topic_catalog_unit.ts
Due: eslint, prettier, typescript

Clean up old code
  docs/specs/FRONTEND_MODULAR_MIGRATION_PLAN.md
  mobile/App.tsx
  mobile/modules/learning_session/queries.ts
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
  mobile/modules/learning_session/screens/ResultsScreen.tsx
  mobile/src/components/learning/DidacticSnippet.tsx
  mobile/src/components/learning/LearningFlow.tsx
  mobile/src/components/learning/MultipleChoice.tsx
  mobile/src/screens/learning/LearningFlowScreen.tsx
  mobile/src/screens/learning/ResultsScreen.tsx
  mobile/src/screens/learning/TopicListScreen.tsx
  mobile/src/services/api-client.ts
  mobile/src/services/learning-service.ts
  mobile/src/types/index.ts
  mobile/src/utils/debug.ts
Due: eslint, prettier, typescript

Plan created for migration; modified for LLM/infra divice
  backend/modules/content_creation/CLAUDE.md
  backend/modules/infrastructure/CLAUDE.md
  backend/modules/llm_services/CLAUDE.md
  docs/MODULAR_MIGRATION_PLAN.md
Due: none

Topic catalog frontend
  backend/modules/topic_catalog/public.py
  backend/modules/topic_catalog/routes.py
  backend/modules/topic_catalog/service.py
  backend/modules/topic_catalog/test_topic_catalog_unit.py
  backend/scripts/run_integration.py
  backend/scripts/run_unit.py
  docs/specs/FRONTEND_MODULAR_MIGRATION_PLAN.md
  mobile/modules/infrastructure/CLAUDE.md
  mobile/modules/learning_analytics/CLAUDE.md
  mobile/modules/learning_session/CLAUDE.md
  mobile/modules/topic_catalog/CLAUDE.md
  mobile/modules/topic_catalog/adapters/legacy-integration.tsx
  mobile/modules/topic_catalog/application/queries.ts
  mobile/modules/topic_catalog/components/SearchFilters.tsx
  mobile/modules/topic_catalog/components/TopicCard.tsx
  mobile/modules/topic_catalog/domain/entities/topic-summary.ts
  mobile/modules/topic_catalog/domain/policies/search-policy.ts
  mobile/modules/topic_catalog/http_client/topic-catalog-client.ts
  mobile/modules/topic_catalog/models.ts
  mobile/modules/topic_catalog/module_api/index.tsx
  mobile/modules/topic_catalog/public.ts
  mobile/modules/topic_catalog/queries.ts
  mobile/modules/topic_catalog/repo.ts
  mobile/modules/topic_catalog/screens/TopicListScreen.tsx
  mobile/modules/topic_catalog/service.ts
  mobile/modules/topic_catalog/store.ts
  mobile/modules/topic_catalog/test_topic_catalog_unit.ts
  mobile/modules/ui_system/CLAUDE.md
Due: eslint, prettier, typescript

Flow engine module
  backend/modules/flow_engine/__init__.py
  backend/modules/flow_engine/background_execution_design.py
  backend/modules/flow_engine/context.py
  backend/modules/flow_engine/example_usage.py
  backend/modules/flow_engine/flows/__init__.py
  backend/modules/flow_engine/flows/base.py
  backend/modules/flow_engine/models.py
  backend/modules/flow_engine/public.py
  backend/modules/flow_engine/repo.py
  backend/modules/flow_engine/routes.py
  backend/modules/flow_engine/service.py
  backend/modules/flow_engine/steps/__init__.py
  backend/modules/flow_engine/steps/base.py
  backend/modules/flow_engine/test_flow_engine_unit.py
  docs/FLOW_ENGINE_MIGRATION_PLAN.md
Due: none

Beginning of modularization
  backend/modules/content_creation/CLAUDE.md
  backend/modules/infrastructure/CLAUDE.md
  backend/modules/learning_analytics/CLAUDE.md
  backend/modules/learning_session/CLAUDE.md
  backend/modules/topic_catalog/CLAUDE.md
  backend/scripts/create_topic.py
  docs/MODULAR_MIGRATION_PLAN.md
  docs/arch/backend-cheatsheet.md
  docs/arch/backend.md
  docs/arch/frontend-cheatsheet.md
  docs/arch/frontend.md
  mobile/modules/infrastructure/CLAUDE.md
  mobile/modules/learning_analytics/CLAUDE.md
  mobile/modules/learning_session/CLAUDE.md
  mobile/modules/topic_catalog/CLAUDE.md
Due: prettier

Fix saving title
  backend/modules/content_creator/service.py
  backend/scripts/run_integration.py
  backend/tests/test_topic_creation_integration.py
Due: none

Phase 3 LLM Services w/ better run_unit and run_integration scripts
  backend/modules/llm_services/__init__.py
  backend/modules/llm_services/domain/__init__.py
  backend/modules/llm_services/domain/entities/__init__.py
  backend/modules/llm_services/domain/entities/llm_provider.py
  backend/modules/llm_services/domain/entities/prompt.py
  backend/modules/llm_services/domain/prompts/CREATING_MCQs.md
  backend/modules/llm_services/domain/prompts/CREATING_SHORT_ANSWER.md
  backend/modules/llm_services/domain/prompts/CREATING_STRUCTURED_MATERIAL.md
  backend/modules/llm_services/domain/prompts/__init__.py
  backend/modules/llm_services/domain/prompts/didactic_snippet.py
  backend/modules/llm_services/domain/prompts/glossary.py
  backend/modules/llm_services/domain/prompts/mcq_evaluation.py
  backend/modules/llm_services/domain/prompts/post_topic_quiz.py
  backend/modules/llm_services/domain/prompts/refined_material_extraction.py
  backend/modules/llm_services/domain/prompts/short_answer_questions.py
  backend/modules/llm_services/domain/prompts/single_mcq_creation.py
  backend/modules/llm_services/domain/prompts/socratic_dialogue.py
  backend/modules/llm_services/infrastructure/__init__.py
  backend/modules/llm_services/infrastructure/clients/__init__.py
  backend/modules/llm_services/infrastructure/clients/llm_client.py
  backend/modules/llm_services/infrastructure/clients/llm_interface.py
  backend/modules/llm_services/infrastructure/clients/prompt_base.py
  backend/modules/llm_services/module_api/__init__.py
  backend/modules/llm_services/module_api/llm_service.py
  backend/modules/llm_services/module_api/types.py
  backend/modules/llm_services/tests/README.md
  backend/modules/llm_services/tests/conftest.py
  backend/modules/llm_services/tests/env_example.txt
  backend/modules/llm_services/tests/example_real_llm_test.py
  backend/modules/llm_services/tests/test_llm_integration.py
  backend/modules/llm_services/tests/test_llm_service.py
  backend/pytest.ini
  backend/scripts/run_integration.py
  backend/scripts/run_unit.py
  docs/MODULAR_MIGRATION_PLAN.md
Due: none

ui_system module
  docs/specs/FRONTEND_MODULAR_MIGRATION_PLAN.md
  mobile/__mocks__/react-native-reanimated.js
  mobile/__mocks__/react-native.js
  mobile/jest.config.js
  mobile/modules/ui_system/components/Button.tsx
  mobile/modules/ui_system/components/Card.tsx
  mobile/modules/ui_system/components/Progress.tsx
  mobile/modules/ui_system/models.ts
  mobile/modules/ui_system/module_api/components.ts
  mobile/modules/ui_system/module_api/index.ts
  mobile/modules/ui_system/module_api/theme.tsx
  mobile/modules/ui_system/public.ts
  mobile/modules/ui_system/service.ts
  mobile/modules/ui_system/test_ui_system_unit.ts
  mobile/modules/ui_system/tests_ui_system_unit.ts
  mobile/modules/ui_system/theme/theme.ts
  mobile/src/components/ui/Button.tsx
  mobile/src/components/ui/Card.tsx
  mobile/src/components/ui/Progress.tsx
Due: eslint, prettier, typescript

Add learning_session frontend module
  backend/modules/learning_session/__init__.py
  backend/modules/learning_session/models.py
  backend/modules/learning_session/public.py
  backend/modules/learning_session/repo.py
  backend/modules/learning_session/routes.py
  backend/modules/learning_session/service.py
  backend/modules/learning_session/test_learning_session_unit.py
  backend/server.py
  docs/specs/FRONTEND_MODULAR_MIGRATION_PLAN.md
  mobile/modules/learning_session/components/DidacticSnippet.tsx
  mobile/modules/learning_session/components/LearningFlow.tsx
  mobile/modules/learning_session/components/MultipleChoice.tsx
  mobile/modules/learning_session/models.ts
  mobile/modules/learning_session/public.ts
  mobile/modules/learning_session/queries.ts
  mobile/modules/learning_session/repo.ts
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
  mobile/modules/learning_session/screens/ResultsScreen.tsx
  mobile/modules/learning_session/service.ts
  mobile/modules/learning_session/store.ts
  mobile/modules/learning_session/test_learning_session_unit.ts
  mobile/modules/topic_catalog/queries.ts
Due: eslint, prettier, typescript

Remove dead code
  backend/debug_infrastructure.py
  backend/debug_llm.py
  backend/debug_pytest.py
  backend/modules/llm_services/providers/openai.py
  backend/run_integration_with_logging.py
  backend/scripts/run_integration.py
  backend/tests/test_topic_creation_integration.py
Due: none

Actual Phase 4: Topic Catalog
  backend/modules/topic_catalog/CLAUDE.md
  backend/modules/topic_catalog/application/topic_discovery_service.py
  backend/modules/topic_catalog/domain/entities/catalog.py
  backend/modules/topic_catalog/domain/entities/topic_summary.py
  backend/modules/topic_catalog/domain/policies/search_policy.py
  backend/modules/topic_catalog/domain/repositories/catalog_repository.py
  backend/modules/topic_catalog/http_api/routes.py
  backend/modules/topic_catalog/infrastructure/persistence/content_creation_catalog_repository.py
  backend/modules/topic_catalog/module_api/__init__.py
  backend/modules/topic_catalog/module_api/topic_catalog_service.py
  backend/modules/topic_catalog/module_api/types.py
  backend/modules/topic_catalog/tests/test_content_creation_catalog_repository.py
  backend/modules/topic_catalog/tests/test_domain_entities.py
  backend/modules/topic_catalog/tests/test_http_api.py
  backend/modules/topic_catalog/tests/test_search_policy.py
  backend/modules/topic_catalog/tests/test_topic_catalog_service.py
  backend/modules/topic_catalog/tests/test_topic_discovery_service.py
  docs/MODULAR_MIGRATION_PLAN.md
  mobile/modules/topic_catalog/CLAUDE.md
  mobile/modules/topic_catalog/adapters/legacy-integration.tsx
  mobile/modules/topic_catalog/application/queries.ts
  mobile/modules/topic_catalog/components/SearchFilters.tsx
  mobile/modules/topic_catalog/components/TopicCard.tsx
  mobile/modules/topic_catalog/domain/entities/topic-summary.ts
  mobile/modules/topic_catalog/domain/policies/search-policy.ts
  mobile/modules/topic_catalog/http_client/topic-catalog-client.ts
  mobile/modules/topic_catalog/module_api/index.tsx
  mobile/modules/topic_catalog/screens/TopicListScreen.tsx
  mobile/package-lock.json
  mobile/package.json
Due: eslint, prettier, typescript

Models fixes in backend
  .env.example
  QUICKSTART.md
  backend/alembic/env.py
  backend/alembic/versions/413c509df009_learning_session_2.py
  backend/alembic/versions/74ac07d821d4_learning_session_tables.py
  backend/alembic/versions/7ae2f26d0e82_learning_session.py
  backend/modules/content_creation/module_api/content_creation_service.py
  backend/modules/learning_session/models.py
  backend/modules/llm_services/config.py
  backend/scripts/create_topic.py
  docs/arch/backend.md
Due: none

Remove metadata duplication
  backend/modules/flow_engine/public.py
Due: none

Phase 1: Infrastructure module
  backend/modules/__init__.py
  backend/modules/infrastructure/__init__.py
  backend/modules/infrastructure/domain/__init__.py
  backend/modules/infrastructure/domain/entities/__init__.py
  backend/modules/infrastructure/domain/entities/configuration.py
  backend/modules/infrastructure/domain/entities/database.py
  backend/modules/infrastructure/infrastructure/__init__.py
  backend/modules/infrastructure/infrastructure/config/__init__.py
  backend/modules/infrastructure/infrastructure/config/environment_loader.py
  backend/modules/infrastructure/infrastructure/database/__init__.py
  backend/modules/infrastructure/infrastructure/database/connection_manager.py
  backend/modules/infrastructure/module_api/__init__.py
  backend/modules/infrastructure/module_api/infrastructure_service.py
  backend/modules/infrastructure/module_api/types.py
  backend/modules/infrastructure/tests/test_infrastructure_service.py
  mobile/modules/__init__.ts
  mobile/modules/infrastructure/__init__.ts
  mobile/modules/infrastructure/adapters/http/http-client.ts
  mobile/modules/infrastructure/adapters/storage/cache-manager.ts
  mobile/modules/infrastructure/components/Button.tsx
  mobile/modules/infrastructure/components/Card.tsx
  mobile/modules/infrastructure/components/Progress.tsx
  mobile/modules/infrastructure/domain/theme/theme-manager.ts
  mobile/modules/infrastructure/module_api/cache.ts
  mobile/modules/infrastructure/module_api/http.ts
  mobile/modules/infrastructure/module_api/index.ts
  mobile/modules/infrastructure/module_api/theme.tsx
Due: eslint, prettier, typescript

Infra module
  docs/arch/frontend.md
  mobile/__mocks__/async-storage.js
  mobile/__mocks__/netinfo.js
  mobile/__mocks__/react-native.js
  mobile/jest.config.js
  mobile/modules/infrastructure/adapters/http/http-client.ts
  mobile/modules/infrastructure/adapters/storage/cache-manager.ts
  mobile/modules/infrastructure/models.ts
  mobile/modules/infrastructure/module_api/cache.ts
  mobile/modules/infrastructure/module_api/http.ts
  mobile/modules/infrastructure/module_api/index.ts
  mobile/modules/infrastructure/public.ts
  mobile/modules/infrastructure/repo.ts
  mobile/modules/infrastructure/service.ts
  mobile/modules/infrastructure/test_infrastructure_unit.ts
  mobile/modules/infrastructure/tests_infrastructure_unit.ts
Due: eslint, prettier, typescript

Fix bad db_session pattern
  backend/modules/content_creator/routes.py
  backend/modules/content_creator/service.py
  backend/modules/infrastructure/public.py
  backend/modules/infrastructure/service.py
  backend/modules/learning_session/public.py
  backend/modules/learning_session/routes.py
  backend/modules/topic_catalog/routes.py
  backend/server.py
  mobile/App.tsx
  mobile/modules/topic_catalog/repo.ts
Due: eslint, prettier, typescript

Phase 4: Content Creation Module
  backend/modules/content_creation/CLAUDE.md
  backend/modules/content_creation/application/material_extraction.py
  backend/modules/content_creation/application/mcq_generation.py
  backend/modules/content_creation/domain/entities/component.py
  backend/modules/content_creation/domain/entities/topic.py
  backend/modules/content_creation/domain/policies/topic_validation_policy.py
  backend/modules/content_creation/domain/repositories/topic_repository.py
  backend/modules/content_creation/http_api/routes.py
  backend/modules/content_creation/infrastructure/persistence/sqlalchemy_topic_repository.py
  backend/modules/content_creation/module_api/__init__.py
  backend/modules/content_creation/module_api/content_creation_service.py
  backend/modules/content_creation/module_api/types.py
  backend/modules/content_creation/tests/test_content_creation_service.py
  docs/MODULAR_MIGRATION_PLAN.md
Due: none

Separate frontend infrastructure module from ui_system
  docs/MODULAR_MIGRATION_PLAN.md
  mobile/modules/infrastructure/CLAUDE.md
  mobile/modules/infrastructure/module_api/index.ts
  mobile/modules/ui_system/CLAUDE.md
  mobile/modules/ui_system/__init__.ts
  mobile/modules/ui_system/components/Button.tsx
  mobile/modules/ui_system/components/Card.tsx
  mobile/modules/ui_system/components/Progress.tsx
  mobile/modules/ui_system/module_api/components.ts
  mobile/modules/ui_system/module_api/index.ts
  mobile/modules/ui_system/module_api/theme.tsx
  mobile/modules/ui_system/theme/theme-manager.ts
Due: eslint, prettier, typescript

Install packages; plan for frontend modules
  docs/arch/frontend.md
  docs/specs/FRONTEND_MODULAR_MIGRATION_PLAN.md
  mobile/eslint.config.js
  mobile/jest.config.js
  mobile/modules/infrastructure/tests_infrastructure_unit.ts
  mobile/package-lock.json
  mobile/package.json
  mobile/tsconfig.json
Due: eslint, prettier, typescript

Squash migrations
  backend/alembic/env.py
  backend/alembic/versions/39e90f55425b_initial_migration.py
  backend/alembic/versions/3d40bc1d7146_add_source_material_and_refined_.py
  backend/alembic/versions/5d2b95576a92_initial_migration.py
  backend/alembic/versions/669da36b1888_remove_creation_strategy_column.py
  backend/alembic/versions/681fa84808c7_merge_migration_heads.py
  backend/alembic/versions/6b171dec0c06_initial_migration.py
  backend/alembic/versions/a30e90d7ac77_add_evaluation_column_to_bite_sized_.py
  backend/alembic/versions/cf7a898acec8_add_generation_metadata_fields_to_bite_.py
  backend/alembic/versions/ecd6ca06d019_initial_schema.py
  backend/alembic/versions/new_component_schema_migration.py
  backend/modules/content/models.py
  backend/modules/flow_engine/models.py
  backend/modules/llm_services/models.py
  backend/modules/shared_models.py
  backend/scripts/squash_migrations.py
Due: none

Missing get
  mobile/modules/topic_catalog/queries.ts
Due: eslint, prettier, typescript

Lame integration test
  backend/modules/content/repo.py
  backend/modules/content/service.py
  backend/modules/content/test_content_unit.py
  backend/modules/flow_engine/models.py
  backend/modules/flow_engine/test_flow_engine_unit.py
  backend/modules/infrastructure/test_infrastructure_unit.py
  backend/modules/llm_services/models.py
  backend/modules/llm_services/providers/openai.py
  backend/modules/llm_services/service.py
  backend/modules/llm_services/types.py
  backend/modules/shared_models.py
  backend/modules/topic_catalog/test_topic_catalog_unit.py
  backend/pyproject.toml
  backend/pytest.ini
  backend/scripts/run_unit.py
  backend/tests/README.md
  backend/tests/test_topic_creation_integration.py
Due: none

New backend strategy
  docs/LLM_MODULE_FEATURE_COMPARISON.md
  docs/LLM_MODULE_MIGRATION_PLAN.md
  docs/LLM_SERVICES_GAP_ANALYSIS.md
  docs/arch/backend-cheatsheet.md
  docs/arch/backend.md
Due: none

git ignore cache
  .gitignore
Due: none

New frontend arch doc
  docs/arch/frontend-cheatsheet.md
  docs/arch/frontend.md
Due: none
