Repository brianfields/deeplearn: changes, and which pre-commit hooks are due for each by the changed paths.
All: eslint, prettier, typescript

eslint:
  name: ESLint (Frontend)
  entry: bash -c 'cd mobile && npm run lint'
  language: system
  pass_filenames: false

prettier:
  name: Prettier (Frontend)
  entry: bash -c 'cd mobile && npm run format:check'
  language: system
  pass_filenames: false

typescript:
  name: TypeScript Check (Frontend)
  entry: bash -c 'cd mobile && npm run typecheck'
  language: system
  pass_filenames: false

Spec prompt change
  codegen/prompts/spec.md
Due: none

Short answer spec
  docs/specs/short-answer-exercise/spec.md
  docs/specs/short-answer-exercise/user_description.md
Due: none

feat: finalize short-answer phase four deliverables
  admin/modules/admin/components/learning-sessions/LearningSessionDetails.tsx
  admin/modules/admin/models.ts
  admin/modules/admin/service.ts
  backend/modules/catalog/service.py
  backend/modules/catalog/test_lesson_catalog_unit.py
  backend/modules/content/package_models.py
  backend/modules/content/test_content_unit.py
  backend/modules/content_creator/flows.py
  backend/modules/content_creator/prompts/generate_short_answers.md
  backend/modules/content_creator/service/flow_handler.py
  backend/modules/content_creator/steps.py
  backend/modules/content_creator/test_flows_unit.py
  backend/modules/content_creator/test_service_unit.py
  backend/modules/learning_session/test_learning_session_unit.py
  backend/modules/resource/test_resource_unit.py
  backend/scripts/create_seed_data_from_json.py
  backend/seed_data/units/_template.json
  backend/seed_data/units/community-first-aid-playbook.json
  backend/seed_data/units/gradient-descent-mastery.json
  backend/seed_data/units/street-kittens-of-istanbul.json
  docs/specs/short-answer-exercise/backend_checklist.md
  docs/specs/short-answer-exercise/frontend_checklist.md
  docs/specs/short-answer-exercise/spec.md
  docs/specs/short-answer-exercise/trace.md
  mobile/e2e/learning-flow.yaml
  mobile/modules/catalog/models.ts
  mobile/modules/catalog/test_catalog_unit.ts
  mobile/modules/learning_session/components/LearningFlow.tsx
  mobile/modules/learning_session/components/ShortAnswer.tsx
  mobile/modules/learning_session/models.ts
  mobile/modules/learning_session/service.ts
  mobile/modules/learning_session/test_learning_session_unit.ts
Due: eslint, prettier, typescript

Fixes
  .gitignore
  admin/app/units/[id]/page.tsx
  admin/tsconfig.tsbuildinfo
  backend/modules/content_creator/prompts/generate_short_answers.md
  backend/modules/content_creator/steps.py
  backend/modules/content_creator/test_flows_unit.py
  backend/modules/learning_coach/conversation.py
  backend/modules/learning_coach/routes.py
  backend/modules/learning_coach/service.py
  backend/modules/learning_coach/test_learning_coach_unit.py
  backend/modules/llm_services/providers/openai.py
  backend/modules/resource/service/facade.py
  backend/modules/resource/test_resource_unit.py
  backend/tests/test_lesson_creation_integration.py
  mobile/modules/catalog/models.ts
  mobile/modules/catalog/test_catalog_unit.ts
  mobile/modules/learning_session/models.ts
  mobile/modules/learning_session/test_learning_session_unit.ts
  mobile/modules/resource/screens/AddResourceScreen.tsx
Due: eslint, prettier, typescript

Some tweaks
  docs/CONVERSATION_UI_REFACTOR.md
  mobile/modules/learning_conversations/components/ConversationContainer.tsx
  mobile/modules/learning_conversations/components/ConversationHeader.tsx
  mobile/modules/learning_conversations/components/ConversationList.tsx
  mobile/modules/learning_conversations/components/TeachingAssistantButton.tsx
  mobile/modules/learning_conversations/components/TeachingAssistantConversation.tsx
  mobile/modules/learning_conversations/components/TeachingAssistantModal.tsx
  mobile/modules/learning_conversations/screens/LearningCoachScreen.tsx
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
Due: eslint, prettier, typescript

Tweaks
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/learning_conversations/components/TeachingAssistantButton.tsx
  mobile/modules/learning_session/components/MiniLesson.tsx
Due: eslint, prettier, typescript

Convo fixes
  admin/app/conversations/page.tsx
  admin/modules/admin/components/conversations/ConversationsList.tsx
  admin/modules/admin/components/users/UserDetail.tsx
  admin/modules/admin/models.ts
  admin/modules/admin/repo.ts
  admin/modules/admin/service.ts
  backend/modules/admin/models.py
  backend/modules/admin/routes.py
  backend/modules/admin/service.py
  backend/scripts/create_seed_data.py
  backend/scripts/create_seed_data_from_json.py
  backend/scripts/create_seed_data_old.py
  backend/seed_data/units/_template.json
  backend/seed_data/units/gradient-descent-mastery.json
  backend/seed_data/units/street-kittens-of-istanbul.json
  docs/ADMIN_DASHBOARD_CONVERSATIONS.md
  docs/SEED_DATA_CONVERSATIONS.md
Due: none

Fixes to admin dashboard
  admin/modules/admin/models.ts
  admin/modules/admin/service.ts
  backend/modules/admin/models.py
  backend/modules/admin/service.py
Due: none

Worktree setup script
  WORKTREE_CHEATSHEET.md
  WORKTREE_README.md
  WORKTREE_SETUP.md
  backend/seed_data/MIGRATION_COMPLETE.md
  backend/seed_data/QUICKSTART.md
  backend/seed_data/README.md
  backend/seed_data/users.json
  setup_worktree.sh
Due: none

Pass user_id to learning session
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/learning_session/screens/LearningFlowScreen.tsx
Due: eslint, prettier, typescript

Fix styles
  admin/app/units/[id]/page.tsx
  admin/tsconfig.tsbuildinfo
  backend/modules/admin/routes.py
  backend/modules/admin/service.py
  backend/modules/admin/test_admin_unit.py
  backend/modules/learning_conversations/conversations/teaching_assistant.py
  backend/modules/learning_conversations/routes.py
  backend/modules/learning_conversations/service.py
  backend/modules/learning_conversations/test_teaching_assistant_unit.py
  backend/server.py
  docs/specs/mobile-ui-consistency-improvements.md
  mobile/App.tsx
  mobile/NAVIGATION_IMPROVEMENTS.md
  mobile/NAVIGATION_PATTERNS.md
  mobile/modules/catalog/components/CatalogUnitCard.tsx
  mobile/modules/catalog/components/DownloadPrompt.tsx
  mobile/modules/catalog/components/LessonCard.tsx
  mobile/modules/catalog/components/SearchFilters.tsx
  mobile/modules/catalog/components/UnitCard.tsx
  mobile/modules/catalog/screens/CreateUnitScreen.tsx
  mobile/modules/catalog/screens/UnitDetailScreen.tsx
  mobile/modules/catalog/screens/UnitLODetailScreen.tsx
  mobile/modules/catalog/screens/UnitListScreen.tsx
  mobile/modules/infrastructure/repo.ts
  mobile/modules/learning_conversations/components/TeachingAssistantModal.tsx
  mobile/modules/learning_session/components/LearningFlow.tsx
  mobile/modules/learning_session/components/MiniLesson.tsx
  mobile/modules/offline_cache/screens/AsyncStorageDetailScreen.tsx
  mobile/modules/offline_cache/screens/FileSystemDetailScreen.tsx
  mobile/modules/offline_cache/screens/ManageCacheScreen.tsx
  mobile/modules/offline_cache/screens/SQLiteDetailScreen.tsx
  mobile/modules/resource/nav.tsx
  mobile/modules/resource/screens/AddResourceScreen.tsx
  mobile/modules/ui_system/components/Button.tsx
  mobile/modules/ui_system/styles/layout.ts
  mobile/modules/ui_system/styles/spacing.ts
  mobile/shims/nativePushNotificationManagerIOS.js
  mobile/utils/devToolsNavigation.ts
  mobile/utils/navigationOptions.ts
Due: eslint, prettier, typescript

Fixes
  docs/specs/mobile-ui-consistency-improvements.md
  format_code.sh
Due: none

Add Gemini provider support for llm services
  backend/modules/llm_services/config.py
  backend/modules/llm_services/providers/factory.py
  backend/modules/llm_services/providers/gemini.py
  backend/modules/llm_services/service.py
  backend/modules/llm_services/test_llm_services_unit.py
  backend/modules/llm_services/types.py
Due: none

Simple style improvements
  admin/TABLES_ARCHITECTURE.md
  admin/modules/admin/components/conversations/ConversationsList.tsx
  admin/modules/admin/components/flows/FlowRunsList.tsx
  admin/modules/admin/components/learning-sessions/LearningSessionsList.tsx
  admin/modules/admin/components/llm-requests/LLMRequestsList.tsx
  admin/modules/admin/components/resources/ResourceList.tsx
  admin/modules/admin/components/shared/DetailViewTable.tsx
  admin/modules/admin/components/shared/ExpandableTable.tsx
  admin/modules/admin/components/users/UserList.tsx
  admin/tsconfig.tsbuildinfo
  docs/specs/mobile-ui-consistency-improvements.md
  mobile/modules/user/screens/AuthLandingScreen.tsx
  mobile/modules/user/screens/LoginScreen.tsx
  mobile/modules/user/screens/RegisterScreen.tsx
Due: eslint, prettier, typescript

Redo exercise generation spec
  admin/app/units/[id]/page.tsx
  admin/modules/admin/components/content/UnitPodcastList.tsx
  admin/next.config.js
  backend/modules/content_creator/prompts/annotate_concept_glossary.md
  backend/modules/content_creator/prompts/extract_concept_glossary.md
  backend/modules/content_creator/prompts/generate_comprehension_questions.md
  backend/modules/content_creator/prompts/generate_quiz_from_questions.md
  backend/modules/content_creator/prompts/generate_transfer_questions.md
  docs/specs/redo-exercise-generation/README.md
  docs/specs/redo-exercise-generation/codebase_understanding.md
  docs/specs/redo-exercise-generation/module_changes_proposal.md
  docs/specs/redo-exercise-generation/spec.md
  docs/specs/redo-exercise-generation/user_description.md
  docs/specs/redo-exercise-generation/user_story.md
Due: none

Normalize Gemini generation config keys
  backend/modules/llm_services/providers/gemini.py
Due: none

lint
  admin/tsconfig.tsbuildinfo
  backend/modules/admin/routes.py
  backend/modules/admin/service.py
  backend/modules/learning_conversations/conversations/teaching_assistant.py
  backend/modules/learning_conversations/routes.py
  backend/modules/learning_conversations/service.py
  backend/modules/learning_conversations/test_teaching_assistant_unit.py
  backend/modules/llm_services/config.py
  backend/modules/llm_services/providers/gemini.py
  backend/server.py
Due: none

Test fixes
  admin/next.config.js
  backend/modules/admin/test_admin_unit.py
  backend/modules/conversation_engine/service.py
  mobile/jest.setup.js
Due: eslint, prettier

Implement Phase 4 verification updates
  admin/app/units/[id]/page.tsx
  admin/modules/admin/components/content/ConceptGlossaryView.tsx
  admin/modules/admin/components/content/ExerciseBankView.tsx
  admin/modules/admin/components/content/QuizMetadataView.tsx
  admin/modules/admin/components/content/QuizStructureView.tsx
  admin/modules/admin/components/resources/ResourceList.test.tsx
  admin/modules/admin/components/tasks/TasksList.test.tsx
  admin/modules/admin/models.ts
  admin/modules/admin/service.test.ts
  admin/modules/admin/service.ts
  backend/alembic/versions/e74040605a02_update_lesson_package_structure_for_new_.py
  backend/modules/content/package_models.py
  backend/modules/content/service.py
  backend/modules/content/service/unit_handler.py
  backend/modules/content/test_content_unit.py
  backend/modules/content_creator/flows.py
  backend/modules/content_creator/prompts/annotate_concept_glossary.md
  backend/modules/content_creator/prompts/extract_concept_glossary.md
  backend/modules/content_creator/prompts/extract_lesson_metadata.md
  backend/modules/content_creator/prompts/generate_comprehension_exercises.md
  backend/modules/content_creator/prompts/generate_quiz_from_exercises.md
  backend/modules/content_creator/prompts/generate_quiz_from_questions.md
  backend/modules/content_creator/prompts/generate_transfer_exercises.md
  backend/modules/content_creator/prompts/generate_transfer_questions.md
  backend/modules/content_creator/service/flow_handler.py
  backend/modules/content_creator/steps.py
  backend/modules/content_creator/test_flows_unit.py
  backend/modules/content_creator/test_service_unit.py
  backend/modules/learning_session/service.py
  backend/modules/learning_session/test_learning_session_unit.py
  backend/scripts/create_seed_data.py
  backend/tests/test_lesson_creation_integration.py
  docs/specs/redo-exercise-generation/codebase_understanding.md
  docs/specs/redo-exercise-generation/spec.md
  docs/specs/redo-exercise-generation/user_description.md
  mobile/e2e/learning-flow.yaml
Due: none

Test fixes
  backend/modules/admin/test_admin_unit.py
  backend/modules/conversation_engine/service.py
  mobile/jest.setup.js
Due: eslint, prettier

lint
  admin/tsconfig.tsbuildinfo
  backend/modules/llm_services/config.py
  backend/modules/llm_services/providers/gemini.py
Due: none

Fix test
  admin/modules/admin/service.ts
Due: none

Redo exercise generation spec
  admin/app/units/[id]/page.tsx
  backend/modules/content_creator/prompts/generate_comprehension_questions.md
  backend/modules/content_creator/prompts/generate_quiz_from_questions.md
  backend/modules/content_creator/prompts/generate_transfer_questions.md
  docs/specs/redo-exercise-generation/codebase_understanding.md
  docs/specs/redo-exercise-generation/spec.md
  docs/specs/redo-exercise-generation/user_description.md
Due: none

Fix tests
  admin/app/units/[id]/page.tsx
  backend/modules/admin/test_admin_unit.py
  backend/modules/catalog/service.py
  backend/modules/catalog/test_lesson_catalog_unit.py
  backend/modules/content/package_models.py
  backend/modules/content/service.py
  backend/modules/content/test_content_unit.py
  backend/modules/content_creator/flows.py
  backend/modules/content_creator/prompts/annotate_concept_glossary.md
  backend/modules/content_creator/service/flow_handler.py
  backend/modules/content_creator/test_flows_unit.py
  backend/modules/content_creator/test_service_unit.py
  backend/modules/learning_session/service.py
  backend/modules/learning_session/test_learning_session_unit.py
  backend/scripts/create_seed_data.py
  backend/tests/test_lesson_creation_integration.py
Due: none

lint
  admin/modules/admin/models.ts
  admin/modules/admin/service.test.ts
  backend/modules/catalog/test_lesson_catalog_unit.py
  backend/modules/content_creator/service/flow_handler.py
  backend/scripts/create_seed_data.py
Due: none

New question generation flow
  backend/alembic/versions/37e65ecea28f_add_image_id_to_resources_table.py
  backend/alembic/versions/d8cc3fa711f1_initial_schema.py
  backend/alembic/versions/e74040605a02_update_lesson_package_structure_for_new_.py
  backend/modules/catalog/service.py
  backend/modules/content_creator/prompts/generate_comprehension_questions.md
  backend/modules/content_creator/prompts/generate_quiz_from_exercises.md
  backend/modules/content_creator/prompts/generate_quiz_from_questions.md
  backend/modules/content_creator/prompts/generate_transfer_questions.md
  backend/modules/content_creator/service/flow_handler.py
  backend/modules/content_creator/steps.py
  backend/modules/llm_services/config.py
  backend/modules/llm_services/service.py
  codegen/prompts/prompt-to-codevelop-spec-with-llm.md
  docs/specs/photo-resource/example_generated_spec.md
  mobile/modules/catalog/models.ts
  mobile/modules/catalog/repo.ts
  mobile/modules/learning_session/service.ts
Due: eslint, prettier, typescript

Spec for improving learning_coach -> unit generation flow
  LEARNING_COACH_UNIT_GENERATION_INVESTIGATION.md
  docs/specs/learning_coach_improvement/spec.md
Due: none

Tweaking exercise generation and adding a tuning helper for prompts
  backend/modules/content_creator/flows.py
  backend/modules/content_creator/podcast.py
  backend/modules/content_creator/prompts/annotate_concept_glossary.md
  backend/modules/content_creator/prompts/extract_concept_glossary.md
  backend/modules/content_creator/prompts/generate_comprehension_exercises.md
  backend/modules/content_creator/prompts/generate_intro_podcast_transcript.md
  backend/modules/content_creator/prompts/generate_lesson_podcast_transcript.md
  backend/modules/content_creator/prompts/generate_quiz_from_exercises.md
  backend/modules/content_creator/prompts/generate_transfer_exercises.md
  backend/modules/content_creator/prompts/unit_art_description.md
  backend/modules/content_creator/service/flow_handler.py
  backend/modules/content_creator/service/media_handler.py
  backend/modules/content_creator/steps.py
  backend/scripts/IMPLEMENTATION_SUMMARY.md
  backend/scripts/README_INSTRUMENTED.md
  backend/scripts/examples/README.md
  backend/scripts/examples/beginning_calculus.json
  backend/scripts/examples/lean_startup.json
  backend/scripts/examples/metaphysics.json
  backend/scripts/examples/react_fundamentals.json
  backend/scripts/examples/roman_republic.json
  backend/scripts/examples/superconductivity.json
  backend/scripts/generate_unit_instrumented.py
Due: none

Put lesson podcast playing back
  admin/app/units/[id]/page.tsx
Due: none

move to gemini
  backend/modules/content_creator/flows.py
  backend/modules/content_creator/prompts/extract_lesson_metadata.md
  backend/modules/content_creator/prompts/extract_unit_metadata.md
  backend/modules/content_creator/steps.py
  backend/modules/llm_services/providers/gemini.py
  backend/modules/llm_services/types.py
Due: none

New spec for redo-exercises-again
  docs/specs/redo-exercises-again/spec.md
  docs/specs/redo-exercises-again/user_description.md
Due: none

prettier
  backend/modules/content_creator/flows.py
  backend/modules/content_creator/podcast.py
  backend/modules/content_creator/service/flow_handler.py
  backend/modules/content_creator/steps.py
  backend/modules/content_creator/test_flows_unit.py
  backend/modules/llm_services/providers/gemini.py
  mobile/modules/learning_session/components/LearningFlow.tsx
Due: eslint, prettier, typescript

Some fixes
  backend/modules/content/package_models.py
  backend/modules/content_creator/flows.py
  backend/modules/content_creator/prompts/generate_lesson_podcast_transcript_instructional.md
  backend/modules/content_creator/prompts/generate_mcqs_unstructured.md
  backend/modules/content_creator/prompts/validate_and_structure_mcqs.md
  backend/modules/content_creator/service/flow_handler.py
  backend/modules/content_creator/steps.py
  backend/scripts/generate_unit_instrumented.py
  docs/specs/openrouter-llm-service-provider/spec.md
  docs/specs/openrouter-llm-service-provider/user_description.md
Due: none

Document OpenRouter provider documentation and tracing
  backend/modules/llm_services/config.py
  backend/modules/llm_services/providers/factory.py
  backend/modules/llm_services/providers/openrouter.py
  backend/modules/llm_services/service.py
  backend/modules/llm_services/test_llm_services_unit.py
  backend/modules/llm_services/types.py
  docs/arch/backend_checklist.md
  docs/specs/openrouter-llm-service-provider/spec.md
  docs/specs/openrouter-llm-service-provider/trace.md
Due: none

Path conditions:
  eslint: any of: ^mobile/.*\.(ts|tsx|js|jsx)$
  prettier: any of: ^mobile/.*\.(ts|tsx|js|jsx|json|md)$
  typescript: any of: ^mobile/.*\.(ts|tsx)$
